/*Css de cabecera*/
@media (max-width:440px) and (min-width: 0px) {
    .h1-video:before {
        font-size: 3rem; 
    }
    .lema:before {
        font-size: 1rem; 
    }
    
}
@media (max-width:580px) and (min-width: 440px) {
    .h1-video:before {
        font-size: 4rem; 
    }
    .lema:before {
        font-size: 1.5rem; 
    }
    
}

@media (max-width:720px) and (min-width: 580px){
    .h1-video:before {
        font-size: 6rem; 
    }
    .lema:before {
        font-size: 2rem; 
    }
    
}

@media (max-width:900px) and (min-width: 720) {
    .h1-video:before {
        font-size: 8rem; 
    }
    .lema:before {
        font-size: 3rem; 
    }

}
@media (max-width:1550px) and (min-width: 900px) {
    
    #textoVideo{
    	font-size: 100px;
    }
    #lema{
    	font-size: 40px;
    }
    .h1-video:before {
        font-size: 10rem; 
    }
    .lema:before {
        font-size: 4rem; 
    }
    
}






   			
		       	
    		
*{
	box-sizing: border-box;
}
img{
	
	width: 100%;
}
.header{
	position: relative;
	top: 0;
	width: auto;
	overflow: hidden;
	height: 33%;
	
	padding: 1%;
	box-sizing: border-box;
	
}


.escudoLeft{
	display: inline-block;
	width: auto;
	position: relative;
	clear:left;
	float:left;
	overflow: hidden;
	box-sizing: border-box;
	/*-ms-transform: scale(0.01, 0.01);
	-webkit-transform: scale(0.01, 0.01);
	-moz-transform: scale(0.01, 0.01);
	-o-transform: scale(0.01, 0.01);
	transform: scale(0.01, 0.01);
	transform: translate(-15%,0%);*/
	
}
.escudoRight{
	display: inline-block;
	width: auto;
	position: relative;
	float:inline-end;
	overflow: hidden;
	box-sizing: border-box;
	
	
	
}

.navbar-default{
	display: inline-block;
	
	background-color: #81BEF7;
	border-color: transparent;

	width: 100%;
	
}
.navbar-sticky{
	
	background-color: #51BDF483;
	display: inline-block;
	width: 100%;
	
}
/* cambiar tipo de letra */
nav.navbar ul.nav li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
/* cambiar color de letra */
nav.navbar ul.nav li a {
    color: #ffffff;
}
.navbar-header{
	
	height: 95%;
}
.navbar-brand{
	width: 10%;
	height: 150%;
	margin-left: 5%;
}
.brand2{
	width: 80%;
	
	
}
.navbar-right{
	
	width: 10%;
}	
.nav{
	padding-left:0%;
	margin-top:3%;
	margin-left: 7%;
	

}
.navbar-toggle .icon-bar{
	background-color:black;/*#75A3F2; */
	/*background-border:blue;*/
	
	
	margin-left: 25%;
	
}
.navbar-collapse{
	width: 100%;
}

/*Css de Body*/
.container-fluid{
	min-height: 100%;
	top:33%;
}
.body{
	display:inline-block;
	position: relative;
	top: 33%;
	margin-top: 8%;
	margin-bottom: -1%;
	padding: 1%;
	width: auto;
	background-color: #81BEF7;
	background-size: cover;
	box-sizing: border-box;
	
}
section{
	
	padding-left:1.1%;
	
	
}
.video{
	
	position: relative center;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding-left:10%;
       
	
}
.hgroup-video{
	max-width: auto;
	width: auto;
	padding: 1rem 0;
	border: 0;
	border-color: #bfcecb;
	position: absolute;
	z-index: 2;
	margin-left: 5%;
	top: 40%;
	text-align:left;
}
.h1-video{
	
	text-align: left;
	/*position: relative;*/
	/*width:100%;*/
	color:#81BEF7;
	border-color: #bfcecb;
	/*font-size: 10rem;*/
	
}
.lema{
	text-align: left;
	/*width:100%;*/
	color:#81BEF7;
	/*font-size: 4rem;*/
	
}
.btn{
	margin-bottom: 0.5rem;
}
.btn + .btn{
	margin-left: 1rem;
}
.btn-lg{
	padding:0.75rem 2.1874rem;
	font-size: 3rem;
	line-height: 1.33333;
	border-radius: 3px;
}
.btn{
	font-family: 'Monserrat', sans-serif;
	font-weight: 500;
	letter-spacing: 2px;
	padding: 0.75rem 2.1874rem;
	font-size: 1.5rem;
	line-height: 1.5;
	border-radius: 3px;
	transition: all .3s;

}

.btn-sm{
	padding:0.75rem 2.1874rem;
	font-size: 1rem;
	line-height: 1.33333;
	border-radius: 3px;
}
.btn-xs{
	padding:0.75rem 2.1874rem;
	font-size: 0.5rem;
	line-height: 1.33333;
	border-radius: 3px;
}
.btn-black{
	background-color: #bfcecb;
	border-color: #bfcecb;
	box-shadow: none;
	color: #fff;

}

.btn-secondary{
	background-color: #81BEF7;
	border-color: #535353;
	color: #fff;

}
.table{
	display: relative;
	left: 30%;
    margin:1%;
    width: 98%;
    border-style:double;
  	border-color: #449eed;
  	border-radius: 0.5px;
  	background-color: white;
}

.slide, .carousel-inner > .item > img{
	position: relative;
	top: 33%;
	height: 50%;
	width: 98%;
	left:1%;
}

.noticia{
	position: relative;
	left: 2%;
	float: left;
  	width: 32%;
  	background-color: white;
  	border-style:double;
  	border-color: #449eed;
  	border-radius: 0.5px;
}
/*Css de Footer*/
.footer-logo{
	width:15%;
	position: relative;
	
	left: 10px;
	/*float:left;*/

}
.footer-distributed{
	background-color: #81BEF7;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: auto;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: auto;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
/*css de NavBar estilizado*/
.navbar-default {
  background-color: #81bef7;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f0f4f7;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f0f4f7;
}
.navbar-default .navbar-nav > li > .dropdown-menu, .navbar-sticky .navbar-nav > li > .dropdown-menu {
  background-color: #81bef7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a, .navbar-sticky .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f0f4f7;
  background-color: #61aff7;
}
.navbar-sticky .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-sticky .navbar-nav > li > .dropdown-menu > li > a:focus  {
  color: #f0f4f7;
  background-color: #61aff7;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider, .navbar-sticky .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #61aff7;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f0f4f7;
  background-color: #61aff7;
}
.navbar-sticky .navbar-nav .open .dropdown-menu > .active > a,
.navbar-sticky .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-sticky .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #f0f4f7;
  background-color: #61aff7;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f0f4f7;
  background-color: #61aff7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f0f4f7;
  background-color: #61aff7;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #61aff7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #f0f4f7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f0f4f7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f0f4f7;
    background-color: #61aff7;
  }
}