
{% extends 'indexMBR.html' %}	
{% load staticfiles %}
{% block contenido %}<!--
<section class="engine"><a href="#"></a></section><section class="header6 cid-qNpXsUs46r mbr-fullscreen mbr-parallax-background" id="header6-h">

    

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Policia del Chubut</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">En servicio a la comunidad.
                </p>
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-primary display-4" href="http://institutosuperior811.wordpress.com/inscripciones-agentes/"  class="external_link">Inscripcion Agentes</a>
                    <a class="btn btn-md btn-primary-outline display-4" href="http://institutosuperior811.wordpress.com/inscripciones-2017/" class="external_link">Inscripcion Oficiales</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>-->

{% for autoridad in autoridadesJefe %}
    {% if autoridad.cargo_id == 1%}
        <div class="accordion2 cid-qTDrCyv9IM" id="accordion2-n">
            <div class="container">
                

                    
                    
                <div class="media-container-row pt-5">
                    <div class="accordion-content">
                        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">

                                {{autoridad.cargo}}
                                <br>{{autoridad.jerarquia}}<br>{{autoridad.nombre}}&nbsp;{{autoridad.segundo_nombre}}<br>{{autoridad.apellido}}
                        </h2>
                        <h3 class="mbr-section-subtitle pt-2 align-left mbr-light mbr-fonts-style display-5">{{autoridad.lugar}}&nbsp;- {{autoridad.direccion_laboral}}&nbsp;{{autoridad.telefono_laboral}}&nbsp;.
                        </h3>
                        <div id="bootstrap-accordion_9" class="panel-group accordionStyles accordion pt-5 mt-3" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse1_9" aria-expanded="false" aria-controls="collapse1">
                                        <h4 class="mbr-fonts-style display-5">
                                            <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Reseña Curricular
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapse1_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9">
                                    <div class="panel-body p-4">
                                        <p class="mbr-fonts-style panel-text display-7">
                                           "{{autoridad.trayectoria}}"
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 100%;">
                            <img src="/media/{{autoridad.imagen}}" alt="JP1" title="JP1">
                    </div>
                    
                    
                </div>
            </div>
        </div>
    {% elif autoridad.cargo_id == 2 %}
        <section class="accordion2 cid-qTDx1Lvrmk" id="accordion2-q">
            <div class="container">
                
                <div class="media-container-row pt-5">
                    <div class="accordion-content">
                        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">

                                {{autoridad.cargo}}
                                <br>{{autoridad.jerarquia}}<br>{{autoridad.nombre}}&nbsp;{{autoridad.segundo_nombre}}<br>{{autoridad.apellido}}
                        </h2>
                        <h3 class="mbr-section-subtitle pt-2 align-left mbr-light mbr-fonts-style display-5">{{autoridad.lugar}}&nbsp;- {{autoridad.direccion_laboral}}&nbsp;{{autoridad.telefono_laboral}}&nbsp;.
                        </h3>
                        <div id="bootstrap-accordion_9" class="panel-group accordionStyles accordion pt-5 mt-3" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse1_9" aria-expanded="false" aria-controls="collapse1">
                                        <h4 class="mbr-fonts-style display-5">
                                            <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Reseña Curricular
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapse1_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9">
                                    <div class="panel-body p-4">
                                        <p class="mbr-fonts-style panel-text display-7">
                                           "{{autoridad.trayectoria}}"
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 100%;">
                            <img src="/media/{{autoridad.imagen}}" alt="JP2" title="JP2">
                    </div>
                    
                    
                </div>
                
            </div>
        </div>
        {% endif %}
{% endfor %}    

            
<section class="features16 cid-qUcoeIgD2N" id="features16-18">
    
    
    
    <div class="container align-center">
        
        
        <div class="row media-row">
            {% for autoridad in autoridadesPlana %}
            
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="/media/{{autoridad.imagen}}" alt="Director de Seguridad" title="Director de Seguridad">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           {{ autoridad.cargo }}<br>{{ autoridad.lugar }}</p>
                    </div>
                    <div class="item-role px-2">
                        <p>{{autoridad.jerarquia}}<br>{{autoridad.nombre}}&nbsp;{{autoridad.segundo_nombre}}<br>{{autoridad.apellido}}</p>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            <!--{% if autoridad.dependencia_id == 4 %}
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="/media/{{autoridad.imagen}}" alt="Director de Seguridad" title="Director de Seguridad">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           {{ autoridad.cargo }}<br>{{ autoridad.dependencia }}</p>
                    </div>
                    <div class="item-role px-2">
                        <p>{{autoridad.jerarquia}}<br>{{autoridad.nombre}}&nbsp;{{autoridad.segundo_nombre}}<br>{{autoridad.apellido}}</p>
                    </div>
                    
                </div>
            </div>
            {% elif autoridad.dependencia_id == 5 %}
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="/media/{{autoridad.imagen}}" alt="Director de Seguridad" title="Director de Seguridad">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           {{ autoridad.cargo }}<br>{{ autoridad.dependencia }}</p>
                    </div>
                    <div class="item-role px-2">
                        <p>{{autoridad.jerarquia}}<br>{{autoridad.nombre}}&nbsp;{{autoridad.segundo_nombre}}<br>{{autoridad.apellido}}</p>
                    </div>
                    
                </div>
            </div>
            {% endif%}
            <div class="team-item col-lg-3 col-md-6">
                <div class="item-image">
                    <img src="/media/{{autoridad.imagen}}" alt="Director de Seguridad" title="Director de Seguridad">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           {{ autoridad.cargo }}<br>{{ autoridad.dependencia }}</p>
                    </div>
                    <div class="item-role px-2">
                        <p>{{autoridad.jerarquia}}<br>{{autoridad.nombre}}&nbsp;{{autoridad.segundo_nombre}}<br>{{autoridad.apellido}}</p>
                    </div>
                    
                </div>
            </div>-->
        </div>    
    </div>

</section>	
    
	
			
{% endblock contenido%}