
{% extends 'index.html' %}	
{% load staticfiles %}
{% block contenido %}
<div class="row body">
<!---Autoridades-->	
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<div class="row autor well body">
				<h1><b><u>Autoridades</u></b></h1>
				<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img class="medium thumbnail" alt="Secretario de seguridad: " src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" width="200px">
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Secretario de seguridad:</h3>
  						</div>
  						<div class="panel-body">
    						
  						</div>
  						<div class="panel-footer">Ministerio de Seguridad, mitre 551 rawson, tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
			</div>-->
			<div class="row well body" style="margin:1%;position: initial;">	
				<div class="col-lg-8 col-lg-offset-5 col-md-7 col-md-offset-4 col-sm-4 col-xs-12">
					<img class="thumbnail" alt="Jefe de Policia: Comisario General Miguel Ramon Gomez" src="{% static 'img/autoridades/JP1c.png' %}">
				</div>
					<div class="col-lg-12 col-lg-offset-3 col-md-6 col-md-offset-4 col-sm-8 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Jefe de Policia:</h3>
  						</div>
  						<div class="panel-body">
    						Comisario General Miguel Ramon Gomez
  						</div>
  						<div class="panel-footer">Jefatura de Policia. Mitre 551-Rawson. Tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
			</div>	
			<div class="row well body" style="margin:1%; margin-left:-6%;position: initial;">
				<div class="col-lg-5 col-lg-offset-4 col-md-6 col-md-offset-4 col-sm-4 col-sm-offset-1 col-xs-12">
					<img class="thumbnail" alt="Subjefe de Policia: Comisario General Nestor Angel Gomez Ocampo" src="{% static 'img/autoridades/JP2a.png' %}">
				</div>
				<div class="col-lg-7 col-lg-offset-3 col-md-7 col-md-offset-4 col-sm-6 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Subjefe de Policia:</h3>
  						</div>
  						<div class="panel-body">
    						Comisario General Nestor Angel Gomez Ocampo
  						</div>
  						<div class="panel-footer">Jefatura de Policia. Mitre 551-Rawson. Tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
			</div>
			<div class="row well body" style="margin:1%;position: initial;">
				<div class="col-lg-6 col-lg-offset-5 col-md-6 col-md-offset-4 col-sm-4 col-xs-12">
					<img class="thumbnail" alt="Secretario General: Comisario Mayor Oscar Ernesto Rolla" src="{% static 'img/autoridades/SG.png' %}">
				</div>
				<div class="col-lg-12 col-lg-offset-3 col-md-7 col-md-offset-4 col-sm-8 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Secretario General:</h3>
  						</div>
  						<div class="panel-body">
    						Comisario Mayor Oscar Ernesto Rolla
  						</div>
  						<div class="panel-footer">Jefatura de Policia. Mitre 551-Rawson. Tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
			</div>
<!---Directores-->				
			<div class="row well body" style="margin:1%;position: initial;">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div>
						<img class="thumbnail" alt="Director de Seguridad:" src="{% static 'img/autoridades/DS.png' %}">
					</div>	
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Director de Seguridad:</h3>
  						</div>
  						<div class="panel-body">
    						Comisario Mayor Jose Luis Matschke
  						</div>
  						<div class="panel-footer">Jefatura de Policia. Mitre 551-Rawson. Tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div>
						<img class="thumbnail" alt="Director de Recursos Humanos:" src="{% static 'img/autoridades/DRH.png' %}">
					</div>	
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Director de Recursos Humanos:</h3>
  						</div>
  						<div class="panel-body">
    						Comisario Mayor Luciano Salvador Yapileo
  						</div>
  						<div class="panel-footer">Jefatura de Policia. Mitre 551-Rawson. Tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div>
					<img class="thumbnail" alt="Director de Recursos Materiales:" src="{% static 'img/autoridades/DRM.png' %}">
					</div>
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Director de Recursos Materiales:</h3>
  						</div>
  						<div class="panel-body">
    						Comisario Mayor Carlos Alberto Heredia
  						</div>
  						<div class="panel-footer">Jefatura de Policia. Mitre 551-Rawson. Tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div>
					<img class="thumbnail" alt="Director de Policia Judicial:" src="{% static 'img/autoridades/DPJ.png' %}">
					</div>
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Director de Policia Judicial:</h3>
  						</div>
  						<div class="panel-body">
    						Comisario Mayor Paulino Ramon Gomez
  						</div>
  						<div class="panel-footer">Jefatura de Policia. Mitre 551-Rawson. Tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
			</div>
		<!---Telefonos Utiles-->
				
			<div class="row well body" style="margin:1%;position: initial;"><h2><b><u>Telefonos Utiles</u></b></h2>
				<div class="col-lg-7 col-md-7 col-sm-7 col-sm-offset-3 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Jefatura de Policia:</h3>
  						</div>
  						<div class="panel-body">
    						Direccion: Mitre 551-Rawson
  						</div>
  						<div class="panel-footer"> Tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Unidad Regional Trelew:  </h3>
  						</div>
  						<div class="panel-body">
    						Direccion: San Martin 435 - Trelew.
  						</div>
  						<div class="panel-footer"> Tel: (0280) 4427598 - 4427649
  						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Unidad Regional Puerto Madryn:   </h3>
  						</div>
  						<div class="panel-body">
    						Direccion: Pedro Derbes Nro. 520 - Puerto Madryn. 
  						</div>
  						<div class="panel-footer"> Tel: (0280) 4451806 - 4452393.
  						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Unidad Regional Comodoro Rivadavia: </h3>
  						</div>
  						<div class="panel-body">
    						Direccion: Guemes 816 - Comodoro Rivadavia. 
  						</div>
  						<div class="panel-footer"> Tel: (0297) 4443886 - 4443904 - 4464682 
  						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
					<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Unidad Regional Esquel: </h3>
  						</div>
  						<div class="panel-body">
    						Direccion: Rivadavia Nro. 663 - Esquel.  
  						</div>
  						<div class="panel-footer"> Tel: (02945) 451427 - 451220. 
  						</div>
					</div>
				</div>
			</div>
			<!--	
			<div class="row well blue" style="margin:1%;position: initial;">
				<div class="panel panel-default">
  				 
  					<div class="panel-heading">Telefonos Utiles</div>

  						 
  						<table class="table .table-responsive table-condensed">
   							 <thead>
								<tr>
									<th>
										Dependencia
									</th>
									<th>
										Direccion
									</th>
									<th>
										Telefono
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										Jefatura de Policia
									</th>
									<th>
										Mitre 551 - Rawson
									</th>
									<th>
										(0280) 4482494 - 4482511 - 4483878
									</th>
								</tr>	
								<tr>
									<th>
										Unidad Regional Trelew
									</th>
									<th>
										San Martin 435 - Trelew
									</th>
									<th>
										(0280) 4427598 - 4427649
									</th>
								</tr>
								<tr>
									<th>
										Unidad Regional Puerto Madryn
									</th>
									<th>
										Pedro Derbes Nro. 520 - Puerto Madryn
									</th>
									<th>
										(0280) 4451806 - 4452393
									</th>
								</tr>
								<tr>
									<th>
										Unidad Regional Comodoro Rivadavia
									</th>
									<th>
										Guemes 816 - Comodoro Rivadavia
									</th>
									<th>
										(0297) 4443886 - 4443904 - 4464682
									</th>
								</tr>
								<tr>
									<th>
										Unidad Regional Esquel
									</th>
									<th>
										Rivadavia Nro. 663 - Esquel
									</th>
									<th>
										(02945) 451427 - 451220
									</th>
								</tr>			

							</tbody>	
  						</table>
					</div>
			</div>-->
				
		</div>	
	</div>
</div>			
			
{% endblock contenido%}