{% load staticfiles %}

<div class="row body">
	<!--Carrousel-->

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<section>
				<div>
					
					<video poster="{% static 'img/Escudo_PoliciaCh.png' %}" loop autoplay muted width=99% height=100%>
							<source src="{% static 'img/VideoSd.mp4' %}" type="video/mp4">
						<source src="{% static 'img/Video.ogg' %}" type="video/ogg">
						<source src="{% static 'img/Video.webm' %}" type="video/webm">	
					Lo sentimos. Tu navegador no soporta HTML5 video.	
					</video>
					<hgroup class="hgroup-video" >
       				 	<h1 class="h1-video" id="textoVideo" >Policia del Chubut</h1>
       			 		<p class="lema" id="lema">Una fuerza de seguridad que evoluciona.</p>
       			 		<div class="mbr-section-btn">
        					<div class="btn btn-lg btn-black">
            					<a href="http://institutosuperior811.wordpress.com/inscripciones-2017/" class="external_link">Inscripcion Oficiales</a>	
            				</div>
           				 	<div class="btn btn-lg btn-secondary">
            					<a href="http://institutosuperior811.wordpress.com/inscripciones-agentes/" class="external_link">Inscripcion Suboficiales</a>
        					</div>
        				</div>
    				</hgroup>
    			</div>	
			</section>
		</div>
	</div>
	
	

	<!--Columnas de Noticias-->
	<div class="row" >
		{% for noticia in noticias %}
			
				{% include 'preview_noticia.html' with noticia=noticia %}
			

		{% endfor %}
	</div>	
		
	<!--Tabla de Videos-->
	<div class="row table">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							Procedimientos
						</th>
						<th>
							Objetivos
						</th>
						
					</tr>
				</thead>
				<tbody>
					{% for video in videos %}

						{% include 'preview_video.html' with video=video %}

					{% endfor %}
				
				</tbody>
			</table>
		</div>
	</div>
</div>


