{% load staticfiles %}

<section class="engine">
    <a href="#"></a>
</section>
<!--
<section class="header6 cid-qNpXsUs46r mbr-fullscreen mbr-parallax-background" id="header6-h">
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(0, 0, 0);">
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Policia del Chubut</h1>
                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">En servicio a la comunidad.
                </p>
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-md btn-primary display-4" href="http://institutosuperior811.wordpress.com/inscripciones-agentes/"  class="external_link">Inscripcion Agentes</a>
                    <a class="btn btn-md btn-primary-outline display-4" href="http://institutosuperior811.wordpress.com/inscripciones-2017/" class="external_link">Inscripcion Oficiales</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
-->
<section class="">
    <div>
        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(40, 50, 78);"></div>
        <video poster="{% static 'img/sddefault.jpg' %}" loop autoplay muted width=100% height=100%>
            <source src="{% static 'images/portada_video.mp4' %}" type="video/mp4">
            
        Lo sentimos. Tu navegador no soporta HTML5 video.	
        </video>
        <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(231, 229, 249);">
            </div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="mbr-white col-md-10">
                        <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4 external_link" href="http://institutosuperior811.wordpress.com/inscripciones-agentes/">Inscripcion Agentes</a>
                                <a class="btn btn-md btn-primary-outline display-4 external_link" href="http://institutosuperior811.wordpress.com/inscripciones-2017/">Inscripcion Oficiales</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
                <a href="#next">
                    <i class="mbri-down mbr-iconfont"></i>
                </a>
            </div>	
</section>
<!--
<section class="header6 cid-qXYmJrdZ9g mbr-fullscreen" id="header6-30" data-bg-video="https://www.youtube.com/embed/HkAUBbjeLMw?rel=0&amp;amp;showinfo=0&amp;autoplay=1&amp;loop=0">

    

    <div class="mbr-background-video-preview" style='background-position: center; background-image: url("http://img.youtube.com/vi/HkAUBbjeLMw/sddefault.jpg"); background-size: cover;'>
    </div>
    <div class="mbr-background-video mb_YTPlayer" id="YTP_1531770604925">
        <div class="mbYTP_wrapper" id="wrapper_YTP_1531770604925" style="left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 0; min-height: 100%; min-width: 100%; opacity: 0;">
            <div class="playerBox" id="iframe_YTP_1531770604925" style="left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; position: absolute; z-index: 0; opacity: 0.5;">
            </div>
            <div class="YTPOverlay" style="left: 0px; top: 0px; width: 100%; height: 100%; position: absolute;">

            </div>
        </div>
    </div>
    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(204, 191, 207);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
             
                <div class="mbr-section-btn align-left">
                  <div><a class="btn btn-md btn-primary display-4 external_link" href="http://institutosuperior811.wordpress.com/inscripciones-agentes/" target="_blank">Inscripcion Agentes</a></div>
                   <div> <a class="btn btn-md btn-primary-outline display-4 external_link" href="http://institutosuperior811.wordpress.com/inscripciones-2017/" target="_blank">Inscripcion Oficiales</a></div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>-->
<div> 
{%for autoridad in autoridades %}
    {% if autoridad.cargo_id == 1%}
        <div class="accordion2 cid-qTDrCyv9IM" id="accordion2-n">
            <div class="container">
                 
                <div class="media-container-row pt-5">
                    <div class="accordion-content">
                        <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1">

                                {{autoridad.cargo}}
                                <br>{{autoridad.jerarquia}}<br>{{autoridad.nombre}}&nbsp;{{autoridad.segundo_nombre}}<br>{{autoridad.apellido}}
                        </h2>
                        <h3 class="mbr-section-subtitle pt-2 align-left mbr-light mbr-fonts-style display-5">{{autoridad.lugar}}&nbsp;- {{autoridad.direccion_laboral}}&nbsp;{{autoridad.telefono_laboral}}&nbsp;.
                        </h3>
                        <div id="bootstrap-accordion_9" class="panel-group accordionStyles accordion pt-5 mt-3" role="tablist" aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse1_9" aria-expanded="false" aria-controls="collapse1">
                                        <h4 class="mbr-fonts-style display-5">
                                            <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>&nbsp;Reseña Curricular
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapse1_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9">
                                    <div class="panel-body p-4">
                                        <p class="mbr-fonts-style panel-text display-7">
                                           "{{autoridad.trayectoria}}"
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 100%;">
                            <img src="/media/{{autoridad.imagen}}" alt="JP1" title="JP1">
                    </div>
                    
                    
                </div>
            </div>
        </div>
    {% elif autoridad.cargo_id == 2 %}
  <div class="accordion2 cid-qTDx1Lvrmk" id="accordion2-q">
      <div class="container">
          <div class="media-container-row pt-5">
              <div class="accordion-content">
                  <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-1"> {{autoridad.cargo}}
                                <br>{{autoridad.jerarquia}}<br>{{autoridad.nombre}}&nbsp;{{autoridad.segundo_nombre}}<br>{{autoridad.apellido}}
                        </h2>
                  <h3 class="mbr-section-subtitle pt-2 align-center mbr-light mbr-fonts-style display-5">{{autoridad.lugar}}&nbsp;- {{autoridad.direccion_laboral}}&nbsp;{{autoridad.telefono_laboral}}&nbsp;.</h3>
                  <div id="bootstrap-accordion_13" class="panel-group accordionStyles accordion pt-5 mt-3" role="tablist" aria-multiselectable="true">
                          <div class="card">
                              <div class="card-header" role="tab" id="headingOne">
                                  <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse1_13" aria-expanded="false" aria-controls="collapse1">
                                      <h4 class="mbr-fonts-style display-5">
                                          <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Reseña Curricular</h4>
                                  </a>
                              </div>
                              <div id="collapse1_13" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_13">
                                  <div class="panel-body p-4">
                                      <p> "{{autoridad.trayectoria}}"</p>
                                  </div>
                              </div>
                          </div>
                                          
                  </div>
              </div>
              <div class="mbr-figure" style="width: 100%;">
                      <img src="/media/{{autoridad.imagen}}" alt="JP2" title="JP2">
              </div>
          </div>
      </div>
  </div>
        
    {% endif %}
{% endfor %}
</div>

<section>

  <h1>Ultimas Noticias</h1>
  


<div async id="myVisor1" class="visor-carousel slide" data-ride="visor">
    <!--ol class="carousel-indicators">
    <li data-target="#myVisor1" data-slide-to="0" class="active"></li>
    <li data-target="#myVisor1" data-slide-to="1"></li>
    <li data-target="#myVisor1" data-slide-to="2"></li>
  </ol>-->
  <div class="carousel-inner" role="listbox">
    {% for noticia in noticias %}
    <div class="item col-md-4 active">

      <img class="first-slide" src="/media/{{noticia.imagen}}" alt="First slide">
      <div class="container-fluid">
        <div class="carousel-caption">
          
          <h5>{{noticia.titulo}}</h5>
          <p></p>
          <p><a class="btn btn-sm btn-primary" href="/noticia/{{noticia.id}}" role="button" >Ver</a> <p>{{noticia.fecha_creacion}}</p></p>
        </div>
      </div>
    </div>
    <!--
    <div class="item col-md-2">
      <img class="second-slide" src="/media/{{noticia.imagen}}" alt="Second slide">
      <div class="container-fluid">
        <div class="carousel-caption">
          <h5>{{noticia.titulo}}</h5>
          <p></p>
          <p><a class="btn btn-xs btn-primary" href="#" role="button">Ver</a></p>
        </div>
      </div>
    </div>
    <div class="item col-md-2">
      <img class="third-slide" src="/media/{{noticia.imagen}}" alt="Third slide">
      <div class="container-fluid">
        <div class="carousel-caption">
          <h5>{{noticia.titulo}}</h5>
          <p></p>
          <p><a class="btn btn-xs btn-primary" href="#" role="button">Ver</a></p>
        </div>
      </div>
    </div>-->
    {% endfor %}
  </div>
  <a class="left carousel-control layout-landscape" href="#myVisor1" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="left carousel-control layout-portrait" href="#myVisor1" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control layout-landscape" href="#myVisor1" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <a class="right carousel-control layout-portrait" href="#myVisor1" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br><br>
</section>
<section>
   <style type="text/css">
    #owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
  </style> 
  <!--
 <h1>Galeria 2 </h1>
  <div id="owl-demo" class="owl-carousel owl-theme">
      <div class="item"><h1>1</h1></div>
      <div class="item"><h1>2</h1></div>
      <div class="item"><h1>3</h1></div>
      <div class="item"><h1>4</h1></div>
      <div class="item"><h1>5</h1></div>
      <div class="item"><h1>6</h1></div>
      <div class="item"><h1>7</h1></div>
      <div class="item"><h1>8</h1></div>
      <div class="item"><h1>9</h1></div>
      <div class="item"><h1>10</h1></div>
      <div class="item"><h1>11</h1></div>
      <div class="item"><h1>12</h1></div>
      <div class="item"><h1>13</h1></div>
      <div class="item"><h1>14</h1></div>
      <div class="item"><h1>15</h1></div>
      <div class="item"><h1>16</h1></div>
    </div>
<script type="text/javascript">
    $(window).on('load', function() {
  $("#owl-demo").owlCarousel({
    navigation : true
  });
});

</script>-->    
</section>    
