{% load staticfiles %}
<style>
    label {
        display: inline-block;
        margin-bottom: .5rem;
        font-size: -webkit-xxx-large;
        color: red;
    }
    .pop-over{
        display: table;
        padding: 0.5em;
        background: whitesmoke;
        cursor: pointer;
        border-radius: 0.3em;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3%;
        width: -webkit-fill-available;
    }

.popup{
  padding: 0.5em 1em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate( -50%, 0);
  display: inline-block;
  z-index: 10;
  background: white;
  box-shadow: 0 0 1em 0 rgba(0,0,0,.2);  
  border-radius: 0.3em;
  pointer-events: none;
  opacity: 0;
  transition: all ease .3s;
}

.pop-over:hover .popup,
.pop-over:hover + .popup{
  transform: translate(-50%, -50%);  
  opacity: 1;
}
</style>
<section class="engine">
    <a href="#"></a>
</section>

<!--label class="pop-over">
    <b>Información Importante</b>
    <div class="popup">
      Se comunica a los Usuarios del Sistema de Carga de Combustible, que el mismo se encuentra "En Mantenimiento Temporal"
    </div>
</label>
<script>
    $(document).ready(function(){
       /*$("#help-pop").popover();*/
       //$('[data-toggle="popover"]').popover()
       $("#popup").popover('hide')
   });
      
</script--> 
<div class="dd-sheet clearfix">
    <div class="dd-layout-wrapper">
        <div class="dd-content-layout">
            <div class="dd-content-layout-row">
                  <div class="dd-layout-cell dd-sidebar1">
                     <div class="dd-block clearfix">
                        <div class="dd-blockheader">
                          <h3 class="t">Visitas</h3>
                        </div>
                        <div class="dd-blockcontent"><!-- Vinaora Visitors Counter >> http://vinaora.com/ -->
                            <style type="text/css">
                              .vfleft{float:left;}.vfright{float:right;}.vfclear{clear:both;}.valeft{text-align:left;}.varight{text-align:right;}.vacenter{text-align:center;}
                              #vvisit_counter141{border:10px solid #000000;}
                              #vvisit_counter141{
                                -moz-border-radius: 8px 8px 8px 8px;
                                -webkit-border-radius: 8px 8px 8px 8px;
                                border-radius: 8px 8px 8px 8px;
                              }
                              #vvisit_counter141{
                                -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
                                -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
                                box-shadow: 0px 1px 5px 0px #4a4a4a;
                              }
                              #vvisit_counter141 .vstats_counter{margin-top: 5px;}
                              #vvisit_counter141 .vrow{height:24px;}
                              #vvisit_counter141 .vstats_icon{margin-right:5px;}
                              #vvisit_counter141{padding:5px;}
                            </style>
                            <div id="vvisit_counter141" class="vvisit_counter vacenter">
                                <div class="vdigit_counter">
                                
                                </div>
                                <div class="vstats_counter">
                                    <div class="vstats_icon vfleft varight">
                                        <div class="vrow vstats-vtoday" title="2018-11-22">
                                      
                                        </div>
                                        <div class="vfclear">
                                      
                                        </div>
                                        <div class="vrow vstats-vyesterday" title="2018-11-21">
                                      
                                        </div>
                                        <div class="vfclear">
                                      
                                        </div>
                                        <div class="vrow vstats-vall" title="">
                                      
                                        </div>
                                        <div class="vfclear">
                                      
                                        </div> 
                                    </div>
                                </div>    
                                <div class="vstats_title vfleft valeft">
                                  <div class="vrow" title="">Hoy</div>
                                  <div class="vfclear"></div>
                                  <div class="vrow" title="">Ayer</div>
                                  <div class="vfclear"></div><div class="vrow" title="">Todos los días</div>
                                  <div class="vfclear"></div> 
                                </div>
                                <div class="vstats_number varight">
                                    <div class="vrow" title="">145</div>
                                    <div class="vrow" title="">557</div>
                                    <div class="vrow" title="">315096</div>
                                </div>
                              <div class="vfclear"></div>
                            </div>
                            <hr style="margin-bottom: 5px;">
                            <div>2018-11-22 11:30</div>
                            <div style="margin-top:5px;">
                               <a href="http://vinaora.com/" title="Vinaora Visitors Counter" target="_blank">Contador de Visitas</a>
                            </div>
                        </div>
                        <!-- Vinaora Visitors Counter >> http://vinaora.com/ -->
                      </div>
                  </div>
            </div>

            <div class="dd-layout-cell dd-content">
                <article class="dd-post">
                    <div class="dd-postcontent clearfix">
                        <div class="newsflash">
          
                           <p>De acuerdo al contenido de la Circular Nro. 07/DDyP/DGAP/MCG, se encuentra vigente el uso del Sistema de Recibo Digital, por lo que a partir de la fecha los recibos de haberes no se emitirán en forma impresa siendo responsabilidad de cada empleado la descarga o impresión mes a mes de sus recibos. Asimismo, se hace saber que el Sistema muestra únicamente los últimos seis (06) liquidaciones con lo cual los recibos anteriores no estarán disponibles salvo que hayan sido debidamente descargados por el interesado; tampoco podrá solicitarse copia de aquellos recibos que ya hayan sido subidos a la pagina y que, por desinterés o inacción del empleado policial, no se haya generado el archivo.La pagina de ingreso al sistema es a atravez de la pagina https://dgc.chubut.gov.ar/</p>

                        </div>
                    </div>
                </article>
                <article class="dd-post dd-messages" style="display: none;">
                    <div class="dd-postcontent clearfix">
                        <div id="system-message-container">
                        </div>
                    </div>
                </article>
                <script type="text/javascript">
                    function currentvideo(id, title, descr) {

                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function()
                        {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            }
                        }
                        xmlhttp.open("GET", "index.php?option=com_hdflvplayer&task=addview&thumbid=" + id, true);
                        xmlhttp.send();
                        var wndo = new dw_scrollObj('wn', 'lyr1');
                        wndo.setUpScrollbar("dragBar", "track", "v", 1, 1);
                        wndo.setUpScrollControls('scrollbar');
                    }
                </script>
                <div class="blog-featured">
                </div>
            </div>
        </div>
    </div>
</div>
