{% load staticfiles %}

<div class="row body">
	<!--Carrousel-->
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<section>
				<div>
					<video poster="{% static 'img/Escudo_PoliciaCh.png' %}" loop autoplay muted width=99% height=100%>
						<source src="{% static 'img/VideoSd.mp4' %}" type="video/mp4">
						<source src="{% static 'img/Video.ogg' %}" type="video/ogg">
						<source src="{% static 'img/Video.webm' %}" type="video/webm">	
					Lo sentimos. Tu navegador no soporta HTML5 video.	
					</video>
          <div class="texto">
					<hgroup class="hgroup-video" >
       				 	<h5 class="h1-video" id="textoVideo" >Policia del Chubut</h5>
       			 		<p class="lema" id="lema">Una fuerza de seguridad que evoluciona.</p>
       			 		<div class="mbr-section-btn">
        					<div class="btn btn-lg btn-black">
            					<a href="http://institutosuperior811.wordpress.com/inscripciones-2017/" class="external_link">Inscripcion Oficiales</a>	
            				</div>
           				 	<div class="btn btn-lg btn-secondary">
            					<a href="http://institutosuperior811.wordpress.com/inscripciones-agentes/" class="external_link">Inscripcion Suboficiales</a>
        					</div>
        				</div>
    				</hgroup>
          </div>
    			</div>	
			</section>
		</div>
	</div>
	<!--Autoridades-->
	<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row autor well body">
			<h1><b><u>Autoridades</u></b></h1>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div>
				<img class="thumbnail" alt="Secretario de seguridad: Federico Massoni" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" width="200px">
				</div>	
				<div class="panel panel-primary" style="margin-top:9%;">
  						<div class="panel-heading">
    						<h3 class="panel-title">Secretario de seguridad:</h3>
  						</div>
  						<div class="panel-body">
    						Federico Massoni
  						</div>
  						<div class="panel-footer">Ministerio de Seguridad, mitre 551 rawson, tel: (0280) 4482494 - 4482511 - 4483878
  						</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div>
					<img class="thumbnail" alt="Jefe de Policia: Comisario General Miguel Ramon Gomez" src="{% static 'img/autoridades/JP1c.png' %}">
				</div>
				<div class="panel panel-primary" style="margin-top:9%;">
  					<div class="panel-heading">
    					<h3 class="panel-title">Jefe de Policia:</h3>
  					</div>
  					<div class="panel-body">
    						Comisario General Miguel Ramon Gomez
  					</div>
  					<div class="panel-footer">		Jefatura de 	Policia. 		Mitre 			551-Rawson. 	Tel: (0280) 	4482494 - 		4482511 - 		4483878
  					</div>
				</div>
			</div>	
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div>
				<img class="thumbnail" 	alt="Subjefe de 	Policia: 			Comisario General 		Nestor Angel 		Gomez Ocampo" src=		"{% static 'img/autoridades/JP2a.png' %}" width=	"200px">
				</div>
				<div class="panel panel-primary" style="margin-top:9%;">
  					<div class="panel-heading">
    					<h3 class="panel-title">Subjefe de Policia:</h3>
  					</div>
  					<div class="panel-body">
    				Comisario General Nestor Angel Gomez Ocampo
  					</div>
  					<div class="panel-footer">Jefatura de Policia. Mitre 551-Rawson. Tel: (0280) 4482494 - 4482511 - 4483878
  				</div>
			</div>
		</div>
	</div>	
	<!--Tabla de Videos-->
	<!---Telefonos Utiles-->
	<div class="row well body" style="margin:1%;position: initial;"><h2><b><u>Telefonos Utiles</u></b></h2>
		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-3">
				<div class="panel panel-primary small" style="margin-top:9%;
					">
  					<div class="panel-heading">
    					<h3 class="panel-title">Jefatura de Policia:</h3>
  					</div>
  					<div class="panel-body">		Direccion:Mitre 551-Rawson
  					</div>
  					<div class="panel-footer"> Tel: (0280) 4482494 - 4482511 - 4483878
  					</div>
				</div>
			</div>
		</div>
		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="panel panel-primary small" style="margin-top:9%;">
  					<div class="panel-heading">
    					<h3 class="panel-title">Unidad Regional Trelew:  </h3>
  					</div>
  					<div class="panel-body">
    						Direccion: San Martin 435 - Trelew.
  					</div>
  					<div class="panel-footer"> Tel: (0280) 4427598 - 4427649
  					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="panel panel-primary small" style="margin-top:9%;">
  					<div class="panel-heading">
    					<h3 class="panel-title">Unidad Regional Puerto Madryn:   </h3>
  					</div>
  					<div class="panel-body">
    					Direccion: Pedro Derbes Nro. 520 - Puerto Madryn. 
  					</div>
  					<div class="panel-footer"> Tel: (0280) 4451806 - 4452393.
  					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="panel panel-primary small" style="margin-top:9%;">
  					<div class="panel-heading">
    					<h3 class="panel-title">Unidad Regional Comodoro Rivadavia: </h3>
  					</div>
  					<div class="panel-body">
    					Direccion: Guemes 816 - Comodoro Rivadavia. 
  					</div>
  					<div class="panel-footer"> Tel: (0297) 4443886 - 4443904 - 4464682 
  					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="panel panel-primary small" style="margin-top:9%;">
  					<div class="panel-heading">
    					<h3 class="panel-title">Unidad Regional Esquel: </h3>
  					</div>
  					<div class="panel-body">
    						Direccion: Rivadavia Nro. 663 - Esquel.  
  					</div>
  					<div class="	panel-footer"> Tel: (02945) 451427 - 451220. 
  					</div>
				</div>
			</div>
		</div>
	</div>	
</div>