<div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header" >

                        <h1 class="modal-title col-md-12" style="text-align: center;"><i class="fas fa-building"></i>{{dependencia.nombre}}
                        <button type="button" class="close" data-dismiss="modal">x</button></h1>
                        
                </div>
                <div class="modal-body">
                        <div class="row col-md-12" >
                                <div class="col-md-6">
                                        <label><b>Jurisdicci&oacute;n:</b> 
                                        {% if dependencia.jurisdiccion == 1 %}
                                                  Jefatura de Policia
                                              {% elif dependencia.jurisdiccion == 2 %}
                                                  U. R. Cro. Rivadavia
                                              {% elif dependencias.0.jurisdiccion == 3 %}
                                                  U. R. Esquel
                                              {% elif dependencia.jurisdiccion == 4 %}
                                                  U. R. Pto. Madryn
                                              {% elif dependencia.jurisdiccion == 5 %}
                                                   U. R. Trelew
                                              {% else %}
                                                  Provincia
                                              {% endif %}
                                        </label>   
                                        <br>
                                        <label><b>Funci&oacute;n :</b>
                                        {% if dependencia.funcion == 1 %}
                                               Escuela
                                             {% else %}
                                                 Seguridad
                                             {% endif %}
                                        </label>
                                        <br>     
                                        
                                        <label><i class="fas fa-directions"></i>&nbsp;
                                        {{dependencia.direccion}} - {{dependencia.ciudad}}
                                        </label>
                                        <br>
                                        <label><i class="fas fa-phone"></i>&nbsp;
                                        {{dependencia.telefono}}
                                        </label>
                                        <br>
                                        <!--
                                        <label>Email:
                                        {% if dependencia.email == ""%}
                                                Sin Datos.
                                        {% else %}
                                              {{ dependencia.email }}
                                        {% endif %} 
                                        </label>-->
                                        {% if not dependencia.jefe == " " %}
                                        <label><b>Jefe:</b>
                                        
                                        </label>        
                                        {% endif %}
                                        
                                        <br>
                                        <!--
                                        <label>SubJefe:
                                        {% if dependencia.subjefe == " " %}
                                                Sin Datos.
                                        {% else %}
                                                {{dependencia.subjefe}}
                                        {% endif %}
                                      </label><br>-
                                       <label>Imagen:</label>
                                        {% if dependencia.imagen == "" %}
                                                <p>Sin Datos.</p>
                                        {% else %}
                                                <p>{{dependencia.imagen}}</p>
                                        {% endif %}-->
                                </div>
                                <div  class="col-md-6">     
                                         <iframe width="350" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q={{dependencia.direccion}}{{dependencia.ciudad}}%20Chubut%2C%20Argentina&key=AIzaSyC8hpzZpXq596T6b7lWhWmUb6Fozc91zVs" allowfullscreen></iframe>  
                                       

                                </div>
                        </div>
                </div>
                <div class="modal-footer">
                        <div class="col-lg-12 text-right">
                                <button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
                                        Aceptar
                                </button>
                        </div>
                </div>
        </div>
</div>

                  