<div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header">
                        <h2>{{dependencia.nombre}}</h2>
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        
                </div>
                <div class="modal-body">
                        <div class="row col-md-12" >
                                <div class="col-md-6">
                                        <label><b>Jurisdicci&oacute;n:</b> 
                                        {% if dependencia.jurisdiccion == 1 %}
                                                  Jefatura de Policia
                                              {% elif dependencia.jurisdiccion == 2 %}
                                                  U. R. Cro. Rivadavia
                                              {% elif dependencias.0.jurisdiccion == 3 %}
                                                  U. R. Esquel
                                              {% elif dependencia.jurisdiccion == 4 %}
                                                  U. R. Pto. Madryn
                                              {% elif dependencia.jurisdiccion == 5 %}
                                                   U. R. Trelew
                                              {% else %}
                                                  Provincia
                                              {% endif %}
                                        </label>   

                                        <label><b>Funci&oacute;n :</b>
                                        {% if dependencia.funcion == 1 %}
                                               Escuela
                                             {% else %}
                                                 Seguridad
                                             {% endif %}
                                        </label>
                                        <br>     
                                        
                                        <label><b>Direcci&oacute;n:</b>
                                        {{dependencia.direccion}}
                                        </label>
                                        <br>
                                        <label><b>Ciudad:</b>
                                        {{dependencia.ciudad}}
                                        </label>
                                        <br>
                                        <label><b>Tel&eacute;fono:</b>
                                        {{dependencia.telefono}}
                                        </label>
                                        <br>
                                        <!--
                                        <label>Email:
                                        {% if dependencia.email == ""%}
                                                Sin Datos.
                                        {% else %}
                                              {{ dependencia.email }}
                                        {% endif %} APIKEY =
AIzaSyC8hpzZpXq596T6b7lWhWmUb6Fozc91zVs

                                        </label>-->
                                        {% if not dependencia.jefe == "" %}
                                        <label><b>Jefe:</b>
                                        
                                                
                                        {% endif %}
                                        </label>
                                        <br>
                                        <!--
                                        <label>SubJefe:
                                        {% if dependencia.subjefe == " " %}
                                                Sin Datos.
                                        {% else %}
                                                {{dependencia.subjefe}}
                                        {% endif %}
                                      </label><br>-
                                       <label>Imagen:</label>
                                        {% if dependencia.imagen == "" %}
                                                <p>Sin Datos.</p>
                                        {% else %}
                                                <p>{{dependencia.imagen}}</p>
                                        {% endif %}-->
                                </div>
                                <div  class="col-md-6">     
                                        <!--label>Ubicaci&oacute;n:</label-->
                                        
                                                <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Pedro%20Mart%C3%ADnez%20116%2C%20Rawson%2C%20Chubut%2C%20Argentina&key=AIzaSyC8hpzZpXq596T6b7lWhWmUb6Fozc91zVs" allowfullscreen></iframe>-->
                                                <iframe width="350" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q={{dependencia.direccion}}{{dependencia.ciudad}}%20Chubut%2C%20Argentina&key=AIzaSyC8hpzZpXq596T6b7lWhWmUb6Fozc91zVs" allowfullscreen></iframe>  
                                       

                                </div>
                        </div>
                </div>
                <div class="modal-footer">
                        <div class="col-lg-12 text-right">
                                <button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
                                        Aceptar
                                </button>
                        </div>
                </div>
        </div>
</div>

                  