<div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h3>Detalle</h3>
                </div>
                <div class="modal-body">
                        <div class="row">
                                <div class="col-lg-4">
                                        <label>Jurisdicci&oacute;n: 
                                        {% if dependencia.jurisdiccion == 1 %}
                                                  Jefatura de Policia
                                              {% elif dependencia.jurisdiccion == 2 %}
                                                  U. R. Cro. Rivadavia
                                              {% elif dependencias.0.jurisdiccion == 3 %}
                                                  U. R. Esquel
                                              {% elif dependencia.jurisdiccion == 4 %}
                                                  U. R. Pto. Madryn
                                              {% elif dependencia.jurisdiccion == 5 %}
                                                   U. R. Trelew
                                              {% else %}
                                                  Provincia
                                              {% endif %}
                                        </label>   

                                        <label>Funci&oacute;n :
                                        {% if dependencia.funcion == 1 %}
                                               Escuela
                                             {% else %}
                                                 Seguridad
                                             {% endif %}
                                        </label>     
                                        <label>Nombre:
                                        {{ dependencia.nombre }}
                                        </label>
                                        <label>Direcci&oacute;n:
                                        {{dependencia.direccion}}
                                        </label>
                                        <label>Ciudad:
                                        {{dependencia.ciudad}}
                                        </label>
                                        <label>Telefono:
                                        {{dependencia.telefono}}
                                        </label>
                                        <label>Email:
                                        {% if dependencia.email == ""%}
                                                Sin Datos.
                                        {% else %}
                                              {{ dependencia.email }}
                                        {% endif %} 
                                        </label>
                                        <label>Jefe:
                                        {% if dependencia.jefe == " " %}
                                                Sin Datos.
                                        {% else %}
                                                {{dependencia.jefe}}
                                        {% endif %}
                                        </label>
                                        <label>SubJefe:
                                        {% if dependencia.subjefe == " " %}
                                                Sin Datos.
                                        {% else %}
                                                {{dependencia.subjefe}}
                                        {% endif %}
                                      </label><br>
                                        <label>Ubicaci&oacute;n:</label>
                                        {% if dependencia.ubicacion == "" %}
                                                <p>Sin Datos.</p>
                                        {% else %}
                                                <p>{{dependencia.ubicacion}}</p>
                                        {% endif %}
                                        <label>Imagen:</label>
                                        {% if dependencia.imagen == "" %}
                                                <p>Sin Datos.</p>
                                        {% else %}
                                                <p>{{dependencia.imagen}}</p>
                                        {% endif %}

                                </div>
                        </div>
                </div>
                <div class="modal-footer">
                        <div class="col-lg-12 text-right">
                                <button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
                                        Aceptar
                                </button>
                        </div>
                </div>
        </div>
</div>

                  