{% extends 'indexBackup.html' %}  

{% block description %}  
 <meta name="description" content="Policia del Chubut">
 <title>Descargas</title>
{% endblock description %} 
 
{% load staticfiles %}

{% block contenido %}
<section class="engine">
    <a href="#"></a>
</section>
 
<div class="dd-sheet clearfix">
    <div class="dd-layout-wrapper">
        <div class="dd-content-layout">
            <div class="dd-content-layout-row">
                
                <div class="dd-layout-cell dd-content">
                    <article class="dd-post dd-messages">
                        <div class="dd-postcontent clearfix">
                          <div id="system-message-container">
                          </div>
                        </div>
                    </article>
                    <article class="dd-post">
                        <div class="dd-postcontent clearfix">
                            <div id="phoca-dl-categories-box" class="pd-categories-view">
                                <div class="pd-categoriesbox">
                                    <div class="pd-title">
                                        <a href="{% url 'sinic-sat'%}">SINIC-SAT</a> 
                                        <small>(0/5)</small>
                                    </div>
                                    <div class="pd-no-subcat">No existen subcategorías
                                    </div>
                                </div>
                                <div class="pd-categoriesbox">
                                    <div class="pd-title"><a href="{% url 'anexos_rrhh'%}">Anexo RRHH</a> <small>(0/8)</small>
                                    </div>
                                    <div class="pd-no-subcat">No existen subcategorías
                                    </div>
                                </div>
                                <div class="pd-categoriesbox">
                                    <div class="pd-title"><a href="{% url 'modus_operandis'%}">ModusOperandis</a> <small>(0/1)</small>
                                    </div>
                                    <div class="pd-no-subcat">No existen subcategorías
                                    </div>
                                </div>
                                <div class="pd-cb">
                            
                                </div>
                                <div class="pd-categoriesbox">
                                    <div class="pd-title">
                                         <a href="{% url '5-vivienda'%}">vivienda</a> <small>(0/1)</small>
                                    </div>
                                    <div class="pd-no-subcat">No existen subcategorías
                                    </div>
                                  </div>
                                  <div class="pd-categoriesbox">
                                    <div class="pd-title"><a href="{% url '6-finanzas'%}">&Aacute;rea Finanzas</a> 
                                      <small>(0/3)</small>
                                    </div>
                                    <div class="pd-no-subcat">No existen subcategorías
                                    </div>
                                  </div>
                                  <div class="pd-categoriesbox">
                                    <div class="pd-title"><a href="{% url 'comunicaciones'%}">&Aacute;rea Comunicaciones e Inform&aacute;tica</a> 
                                      <small>(0/2)</small>
                                    </div>
                                    <div class="pd-no-subcat">No existen subcategorías
                                    </div>
                                  </div>
 				  <div class="pd-categoriesbox">
                                    <div class="pd-title"><a href="{% url 'educacion_fisica'%}">Departamento Educaci&oacute;n F&iacute;sica</a> 
                                      <small>(0/5)</small>
                                    </div>
                                    <div class="pd-no-subcat">No existen subcategorías
                                    </div>
                                  </div>

                                </div>
                                <div class="pd-cb">
                                  
                                </div>
                                <div class="pd-hr" style="clear:both">&nbsp;
                                </div>
                                <div id="phoca-dl-most-viewed-box">
                                    <div class="pd-documents"><h3>Archivos más descargados</h3>
                                        <div class="pd-filename">
                                           <div class="pd-document16" style="background: url('https://policia.chubut.gov.ar/media/com_phocadownload/images/mime/16/icon-pdf.png') 0 center no-repeat;">
                                             <a href="{% url 'anexos_rrhh'%}">anexo_1_1_licencias</a> <small>(Anexo RRHH)</small>
                                           </div>
                                        </div>
                                        <div class="pd-filename">
                                           <div class="pd-document16" style="background: url('https://policia.chubut.gov.ar/media/com_phocadownload/images/mime/16/icon-pdf.png') 0 center no-repeat;">
                                                <a href="{% url 'modus_operandis'%}">modusoperandis</a> <small>(ModusOperandis)</small>
                                           </div>
                                        </div>
                                        <div class="pd-filename">
                                            <div class="pd-document16" style="background: url('https://policia.chubut.gov.ar/media/com_phocadownload/images/mime/16/icon-pdf.png') 0 center no-repeat;">
                                              <a href="{% url 'anexos_rrhh'%}">manual de procedimiento RRHH final 2015</a> <small>(Anexo RRHH)</small>
                                            </div>
                                        </div>
                                        <div class="pd-filename">
                                            <div class="pd-document16" style="background: url('https://policia.chubut.gov.ar/media/com_phocadownload/images/mime/16/icon-document.png') 0 center no-repeat;">
                                              <a href="{% url '5-vivienda'%}">contrato entrega de vivienda oficial julio 2018</a> <small>(vivienda)</small>
                                            </div>
                                        </div>
                                        <div class="pd-filename">
                                            <div class="pd-document16" style="background: url('https://policia.chubut.gov.ar/media/com_phocadownload/images/mime/16/icon-pdf.png') 0 center no-repeat;">
                                                  <a href="{% url 'anexos_rrhh'%}">anexo_6_solicitud_traslado_interno</a> <small>(Anexo RRHH)</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pd-cb">&nbsp;
                                </div>
                                <div style="text-align:right;"><a href="#" target="_blank" title="Phoca Download"></a>
                          </div>
                       </div>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>   
  
{% endblock contenido %}