{% extends 'indexBackupPowerUp.html' %}   
{% load staticfiles %}
{% block contenido %}
<!--incluimos el template partials enlaces de css del Reproductor-->
  {% include 'partials/_linksCssReproductor.html' %}



<section class="Body Container Reproductor">
	<div class="Content">
		<div class="Container">
			<div class="TpRwCont">
				<main>
					<script async="async" data-cfasync="false" src="//bl0uxepb4o.com/3c53cead2d372ee5008e2cb8cb1767f1/invoke.js"></script>
					<div id="container"></div>
						<article class="TPost Single Episode">
							<header>
								<div class="TpTvSw">
									<h1 class="Title">Acondicionamiento Fisico Funcional <span><span>Ejercicio 1</span> de <span>6</span></span></h1>
									<ul class="ListPOpt">
										<li><a rel="nofollow" onclick="window.open ('http://www.facebook.com/sharer.php?u=https://es-la.facebook.com/prensapoliciachubut/', 'Facebook', 'toolbar=0, status=0, width=650, height=450');" class="Fcb fa-facebook"></a></li>
										<li><a rel="nofollow" onclick="window.open('https://twitter.com/intent/tweet?original_referer=https://twitter.com/Policia_Chubut&amp;text=Educacion_Fisica_tips&amp;tw_p=tweetbutton&amp;url=https://twitter.com/Policia_Chubut', 'Twitter', 'toolbar=0, status=0, width=650, height=450');" class="Twt fa-twitter"></a></li>
										<li><a rel="nofollow" onclick="window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" href="https://plus.google.com/share?url=""" class="Ggl fa-google-plus"></a></li>
									</ul>                   
									<h2 class="SubTitle">01 - Zona: Tren Superior</h2>
								</div>
								<ul class="TPlayerNv">
									<li data-shortcode="2" class="Button STPb Current" data-tplayernv="Opt0"><span>Ejercicio - </span><span>Vuelos Posteriores</span></li>
									<li data-shortcode="2" class="Button STPb " data-tplayernv="Opt1"><span>Ejercicio - </span><span>Puente en construcci&oacute;n</span></li>
									<li data-shortcode="2" class="Button STPb " data-tplayernv="Opt2"><span>Ejercicio - </span><span>Vuelos frontales</span></li>
									<li data-shortcode="2" class="Button STPb " data-tplayernv="Opt3"><span>Ejercicio - </span><span>Flexiones de Brazos</span></li>
									<li data-shortcode="2" class="Button STPb " data-tplayernv="Opt4"><span>Ejercicio - </span><span>Burpee con Flexi&oacute;n de Brazos</span></li>
									<li data-shortcode="2" class="Button STPb " data-tplayernv="Opt5"><span>Ejercicio - </span><span>Flex. Diamante c/apoyo Rodillas</span></li>
								</ul>
								<div class="TPlayerCn BgA">
									<div class="EcBgA">
										<div class="TPlayer">
											<div class="TPlayerTb Current" id="Opt0">
												<!--iframe scrolling="no" src="https://drive.google.com/uc?id=1S31saGrBX6nbMrxl0Hi81s5O0M68rls4" width="607" height="360" frameborder="0"></iframe-->
											<iframe scrolling="no" src="https://youtube.com/embed/HzZAONQwA7M?version=3&loop=0&playlist=HzZAONQwA7M&rel=0" width="640" height="480" frameborder="0"></iframe>
				
											</div>
											<div class="TPlayerTb " id="Opt1">
												<!--iframe scrolling="no" src="https://drive.google.com/uc?id=1Rd6VpWIkWOT1ZnFYPkg2_32sTwyasG-b" width="607" height="360" frameborder="0"></iframe-->
												<iframe scrolling="no" src="https://youtube.com/embed/wgpEj-jSq3A?rel=0" width="607" height="360" frameborder="0"></iframe>
											</div>
											<div class="TPlayerTb " id="Opt2">
												<!--iframe scrolling="no" src="https://drive.google.com/uc?id=1S4S2f0CnRo3wLgMcp7Yy8-S6EcDk-KU7" width="607" height="360" frameborder="0"></iframe-->
												<iframe scrolling="no" src="https://youtube.com/embed/HzZAONQwA7M?rel=0" width="640" height="480" frameborder="0"></iframe>
				
											</div>
											<div class="TPlayerTb " id="Opt3">
												<iframe scrolling="no" src="https://youtube.com/embed/HzZAONQwA7M?rel=0" width="607" height="360" frameborder="0"></iframe>
											</div>
											<div class="TPlayerTb " id="Opt4">
												<iframe scrolling="no" src="https://youtube.com/embed/Uy2nUNX38xE?rel=0" width="607" height="360" frameborder="0"></iframe>
											</div>
											<div class="TPlayerTb " id="Opt5">
												<iframe scrolling="no" src="https://youtube.com/embed/wgpEj-jSq3A?rel=0" width="607" height="360" frameborder="0"></iframe>
											</div>
											<span class="btnsplyr"> 
												<span class="AAIco-lightbulb_outline lgtbx-lnk lghtsof"></span> 
											</span>
										</div>
									</div>
								</div>
								<span class="lgtbx"></span>
								<div class="Season-EpisodesCn">
									<div class="Season-Episodes owl-carousel Episodes owl-loaded owl-drag">
										<div class="owl-stage-outer">
                                                                 
												
											<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 97%;">
												
												<div class="owl-item active-light" style="width: 20%;">
													<div class="TPostMv" data-tplayernv="Opt0">
														<script async="async" data-cfasync="false" src="//bl0uxepb4o.com/3c53cead2d372ee5008e2cb8cb1767f1/invoke.js"></script>
														<div id="container"></div>
														<div class="TPost C">
															<!--a href="https://youtube.com/embed/HzZAONQwA7M"-->
															<!--a href="https://youtube.com/embed/HzZAONQwA7M"-->
															<a class="link">

																<div class="Image">
																	<figure class="Objf TpMvPlay AAIco-play_arrow"> 
																		<img src="{% static 'img/policias200.jpg' %}" alt="Imagen Cargandoï¿½"> 
																		<figcaption>
																			<span class="ClB">1x6</span> - Ejercicio 1 - Vuelos Posteriores
																		</figcaption> 
																	</figure>
																</div>
															</a>
														</div>
													</div>
												</div>
												<div class="owl-item" style="width: 20%;">
													<div class="TPostMv" data-tplayernv="Opt1">
														<script async="async" data-cfasync="false" src="//bl0uxepb4o.com/3c53cead2d372ee5008e2cb8cb1767f1/invoke.js"></script>
														<div id="container"></div>
														<div class="TPost C ">
															<!--a href="https://drive.google.com/uc?id=1Rd6VpWIkWOT1ZnFYPkg2_32sTwyasG-b"-->
															<!--a href="https://youtube.com/embed/Uy2nUNX38xE"-->
															<a class="link">
															<div class="Image">
																	<figure class="Objf TpMvPlay AAIco-play_arrow"> 
																		<img src="{% static 'img/policias200.jpg' %}" alt="Imagen Cargandoï¿½">
																		<figcaption><span class="ClB">2x6 </span> - Ejercicio 2 - Puente en construcci&oacute;n </figcaption> 
																	</figure>
																</div>
															</a>
														</div>
													</div>
												</div>
												<div class="owl-item" style="width: 20%;">
													<div class="TPostMv" data-tplayernv="Opt2">
														<script async="async" data-cfasync="false" src="//bl0uxepb4o.com/3c53cead2d372ee5008e2cb8cb1767f1/invoke.js"></script>
														<div id="container"></div>
														<div class="TPost C">
															<!--a href="https://drive.google.com/uc?id=1S4S2f0CnRo3wLgMcp7Yy8-S6EcDk-KU7"-->
															<!--a href="https://youtube.com/embed/HzZAONQwA7M"-->
															<a class="link">

																<div class="Image">
																	<figure class="Objf TpMvPlay AAIco-play_arrow"> 
																		<img src="{% static 'img/policias200.jpg' %}" alt="Imagen Cargandoï¿½">
																		<figcaption><span class="ClB">3x6 </span> - Ejercicio 3 - Vuelos frontales</figcaption> 
																	</figure>
																</div>
															</a>
														</div>
													</div>
												</div>
												<div class="owl-item" style="width: 20%;">
													<div class="TPostMv" data-tplayernv="Opt3">
														<script async="async" data-cfasync="false" src="//bl0uxepb4o.com/3c53cead2d372ee5008e2cb8cb1767f1/invoke.js"></script>
														<div id="container"></div>
														<div class="TPost C">
															<!--a href="https://youtube.com/embed/HzZAONQwA7M"-->
															<a class="link">
															<div class="Image">
																	<figure class="Objf TpMvPlay AAIco-play_arrow"> 
																		<img src="{% static 'img/policias200.jpg' %}" alt="Imagen Cargandoï¿½">
																		<figcaption><span class="ClB">4x6 </span> - Ejercicio 4 - Flexiones de Brazos</figcaption> 
																	</figure>
																</div>
															</a>
														</div>
													</div>
												</div>
												<div class="owl-item" style="width: 20%;">
													<div class="TPostMv" data-tplayernv="Opt4">
														<script async="async" data-cfasync="false" src="//bl0uxepb4o.com/3c53cead2d372ee5008e2cb8cb1767f1/invoke.js"></script>
														<div id="container"></div>
														<div class="TPost C">
															<!--a href="https://youtube.com/embed/Uy2nUNX38xE"-->
															<a class="link">

															<div class="Image">
																	<figure class="Objf TpMvPlay AAIco-play_arrow"> 
																		<img src="{% static 'img/policias200.jpg' %}" alt="Imagen Cargandoï¿½">
																		<figcaption><span class="ClB">5x6 </span> - Ejercicio 5 - Burpee con Flexi&oacute;n de Brazos</figcaption> 
																	</figure>
																</div>
															</a>
														</div>
													</div>
												</div>
												<div class="owl-item" style="width: 20%;">
													<div class="TPostMv" data-tplayernv="Opt5">
														<script async="async" data-cfasync="false" src="//bl0uxepb4o.com/3c53cead2d372ee5008e2cb8cb1767f1/invoke.js"></script>
														<div id="container"></div>
														<div class="TPost C">
															<!--a href="https://youtube.com/embed/wgpEj-jSq3A"-->
															<a class="link">

																<div class="Image">
																	<figure class="Objf TpMvPlay AAIco-play_arrow"> 
																		<img src="{% static 'img/policias200.jpg' %}" alt="Imagen Cargandoï¿½">
																		<figcaption><span class="ClB">6x6 </span> - Ejercicio 6 - Flex. Diamante c/apoyo Rodillas</figcaption> 
																	</figure>
																</div>
															</a>
														</div>
													</div>
												</div>
												<div class="owl-item" style="width: 20%;">
													<div class="TPostMv" data-tplayernv="Opt6">
														<script async="async" data-cfasync="false" src="//bl0uxepb4o.com/3c53cead2d372ee5008e2cb8cb1767f1/invoke.js"></script>
														<div id="container"></div>
														<div class="TPost C">
															<a class="link">
																<div class="Image">
																	<figure class="Objf TpMvPlay AAIco-play_arrow"> 
																		<img src="{% static 'img/policias200.jpg' %}" alt="Imagen Cargandoï¿½">
																		<figcaption><span class="ClB">Volver a </span> 01 - Zona: Tren Superior</figcaption> 
																	</figure>
																</div>
															</a>
														</div>
													</div>
							                                        </div>
												
                                            						</div>
											
                                       
										  </div>
									</div>
								</div>           
							</header>
							<footer class="ClFx">
								<div class="VotesCn">
									<!--div class="Prct">
										<div id="TPVotes" data-percent="0" class="percircle animate"><span>0</span>
											<div class="slice">
												<div class="bar" style="transform: rotate(0deg);"></div>
											<div class="fill"></div>
										</div>
											<!--span>0</span>
											<div class="slice">
												<div class="bar" style="transform: rotate(0deg);"></div>
												<div class="fill">
												</div>
											</div>
									</div-->
									<p class="Info">
										<span class="Time AAIco-access_time">30m </span> 
										<span class="Date AAIco-date_range">2020</span> 
										<span class="View AAIco-remove_red_eye">0 Views</span>
									</p>
							</footer>
							<div class="TPostBg Objf">
								<img class="TPostBg" src="{% static 'img/policias200.jpg' %}" alt="Fondo">
							</div>
						</article>
					</div>
				</main>
				<aside class="widget-area">
					<div id="categories-4" class="Wdgt widget_categories">
						<div class="Title widget-title">Zonas del Cuerpo
						</div>
						<ul>
							<li class="cat-item cat-item-220"><a href="#">Zona Media</a>
                            </li>
							<li class="cat-item cat-item-24832">
								<a href="#">Tren Inferior</a>
                            </li>
						</ul>
					</div>
				</aside>
			</div>	
		</div>
	</div>
</section>
 
{% endblock contenido %}