
{% extends 'index.html' %}	
{% load staticfiles %}
{% block contenido %}
<div class="row body">
<!---Historia-->	
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-3">
		<h1><b><u>Escuelas:</u></b></h1>

<!---Escuelas-->
		<div class="panel panel-primary">
  			<div class="panel-heading">
    			<h3 class="panel-title">Historia:</h3>
  			</div>
  			<div class="panel-body">
    			<div>
    				<img class="medium" alt="Twitter" src="{% static 'img/EscuelaSuboficiales.jpg' %}">
    			</div>
    			<blockquote align="justify"><p style="text-indent:50px">La Escuela de Personal Subalterno es un instituto policial en el que recibieron capacitaci&oacute;n m&aacute;s de cuatro mil j&oacute;venes desde su fundaci&oacute;n.</p>
    			<p  style="text-indent:50px">Naci&oacute; por iniciativa de la Jefatura de Polic&iacute;a, cuyo objetivo principal fue la capacitaci&oacute;n del Personal Subalterno que ingresa a las filas de la Instituci&oacute;n, de manera tal que el Agente de Polic&iacute;a antes de prestar servicio, reciba la instrucci&oacute;n b&aacute;sica para desempeñar la funci&oacute;n policial con conocimientos que le permitan servir a la comunidad a la pertenece.</p>
				<p  style="text-indent:50px">Fue creada por Ley Provincial Nº 1271/75 de fecha 27 de Mayo de 1.975; cuyo Decreto Reglamentario Nº 1321/75 fue aprobado el 2 de Septiembre de 1.975.</p>
				<p  style="text-indent:50px">
				Comenz&oacute; a funcionar en el edificio de la calle Pedro Martínez 257 (actual Escuela de Cadetes) de la ciudad de Rawson, hasta el mes de septiembre de 1.977, luego se traslad&oacute; al edificio de la Av. Ant&aacute;rtida Argentina 860 de la misma ciudad.</p>
				<p  style="text-indent:50px">
				En el año 1.992 se traslad&oacute; al edificio anexo de la Comisar&iacute;a Seccional Tercera de Trelew, para luego retornar al edificio de Av. Ant&aacute;rtida Argentina 860, donde funciona actualmente.</p>
				<p  style="text-indent:50px">
				Desde su puesta en marcha en la ciudad de Rawson se sucedieron 98 promociones de distintas instancias de capacitaci&oacute;n y formaci&oacute;n, funcionando en paralelo desde el año 2003 los centros de instrucción en Comodoro Rivadavia, Puerto Madryn y Esquel.</p>
				<p  style="text-indent:50px">
				En el año 2000, la Escuela de Personal Subalterno cerr&oacute; sus puertas, pero reinici&oacute; su tarea instructiva en noviembre del 2.003, a trav&eacute;s del Centro de Instrucci&oacute;n Rawson y bajo el sistema implementado por Resoluci&oacute;n Nº 426/02 JP mediante el cual se aprob&oacute; el “Curso Intensivo para Agentes de Polic&iacute;a” y reglamentado por Resoluci&oacute;n Nº 756-03 JP.</p>
				<p  style="text-indent:50px">
				A tal fin se diseñ&oacute; la actual Estructura Curricular. Descentraliz&aacute;ndose como tal con los Centros de Instrucci&oacute;n con asiento en Rawson, Comodoro Rivadavia, Puerto Madryn y Esquel.
				Logrando con todo esto, que los aspirantes a Agentes de Polic&iacute;a de la Provincia del Chubut, tengan una formaci&oacute;n integral, que apunte a una Preparaci&oacute;n Intelectual, f&iacute;sica y pr&aacute;cticas acorde a la funci&oacute;n policial.</p>
				<p  style="text-indent:50px">
				Asimismo, mediante Res.628-05 ME del 24 de Noviembre del Año 2005, la Escuela de Cadetes "Comisario Gral. Juan Gustavo Boyd" que funcionaba desde..., fue reconocida e incorporada en la categoria de Nivel Terciario, siendo modificado su nombre a Instituto Superior de Formacion Policial "Crio. Gral. Juan Gustavo Boyd" Nº 811, la cual cuenta con un Plan de Estudios aprobado mediante Resolucion Nº 295/05, que brindo a sus egresados el Titulo de "Tecnicatura Superior en Ciencias Policiales" con la jerarquia inicial de Oficial Ayudante del Escalafon Comando Seguridad. Modificandose dicho Titulo en el año 2011 mediante Res. Nº 315/11 como "Tecnicatura Superior en Seguridad Publica y Ciudadana Orientada a la Formacion Policial", siendo el actual Titulo a obtener por los egresados de dicho Instituto.
				</p><br>  
				<b><u>Fuentes:</u></b><a href="https://escueladepersonalsubalterno.wordpress.com/historia/" class="external-link">Blog de Escuela de Policia</a>
				<br>
				<a href="https://institutosuperior811.files.wordpress.com/2012/02/res-628-05-me.pdf" target="_blank">
				 Res.628-05 ME (autorización Instituto Terciario/imposición de nombre)<a/>
				 <br>
				 <a href="https://institutosuperior811.files.wordpress.com/2012/02/resolucic3b3n-498-me.pdf" target="_blank">
				 Resolución 498- ME(modificacion al Titulo actual)</a>
				</blockquote>
			</div>
		<div>	
	</div>	
	<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-4 col-sm-offset-3">	
			<div class="panel panel-primary" >
	 			<div class="panel-heading">
	   				<h3 class="panel-title">Instituto Superior de Formacion Policial "Crio. Gral. Juan Gustavo Boyd" Nº 811</h3>
	 			</div>
	  			<div class="panel-body">
	    			<img class="thumbnail" alt="Twitter" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" width="200px">
	    			...
				</div>
				<div class="panel-footer">
				<a href="https://goo.gl/maps/o3j7qqqo11t" target="_blank">		Direcci&oacute;n: 		Pedro Martínez 257 - Rawson	
					<br><br><br><br>
	  			</div>
			</div>
		</div>	
	</div>	
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-3" style="margin-top:1%">
		<div class=" col-lg-3  col-md-3  col-sm-3 col-xs-3">	
			<div class="panel panel-primary" >
	 			<div class="panel-heading">
	   				<h3 class="panel-title">Escuela de Personal Subalterno Rawson</h3>
	 			</div>
	  			<div class="panel-body">
	    			<img class="thumbnail" alt="Twitter" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" width="200px">
	    			...
				</div>
				<div class="panel-footer">		Direcci&oacute;n: 		Av. Antártida Arg. Nº 		860 - Rawson	
					<br><br><br><br>
	  			</div>
			</div>
		</div>	
		<!---->
		<div class=" col-lg-3  col-md-3 col-sm-3 col-xs-3">
			<div class="panel panel-primary">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">Centro de Instrucci&oacute;n Policial Comodoro Rivadavia</h3>
	  			</div>
	  			<div class="panel-body">
	    			<img class="thumbnail" alt="Twitter" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" width="200px">
	    		</div>
				<div class="panel-footer">		
					Dirección: <a href="https://www.google.com.ar/maps/place/Gregorio+Mayo+370,+Comodoro+Rivadavia,+Chubut/@-45.839837,-67.4869052,16z/data=!4m5!3m4!1s0xbde455b8d00b19c5:0x2860502c3cc37682!8m2!3d-45.839837!4d-67.4825278" target="_blank">Gregorio Mayo Nº 370</a> – Bº General Mosconi. Km 3<br>TEL: 0297 4550300<br>
					Email: <a href="mailto:centroinstruccionpolicialpm@gmail.com" target="_blank" rel="noopener noreferrer">centrodeinstruccioncomodoro</a>@policial.chubut.gov.ar<br><br>
	  			</div>
			</div>	
		</div>
		<div class=" col-lg-3  col-md-3  col-sm-3 col-xs-3">	
			<div class="panel panel-primary">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">Centro de Instrucci&oacute;n Policial Esquel</h3>
	  			</div>
	  			<div class="panel-body">
	    			<img class="thumbnail" alt="Twitter" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" width="200px">
	    			...
				</div>
				<div class="panel-footer">		
					Direcci&oacute;n: Unidad Regional, Calle Rivadavia Nro. 663, casi B. Mitre.
					Ubicaci&oacuten: <a href="https://www.google.com.ar/maps/place/Rivadavia+663,+Esquel,+Chubut/@-42.916737,-71.3261641,17z/data=!3m1!4b1!4m5!3m4!1s0x961dac30177fb93b:0x241763879f5bae16!8m2!3d-42.916737!4d-71.3239754" target="_blank">Centro de Instrucci&oacute;n Policial Esquel</a>
					Tel.: 02945 451427 – Interno 39.
					Email: <a href="mailto:centroinstruccionpolicialpm@gmail.com" target="_blank" rel="noopener noreferrer">centrodeinstruccion</a>esquel@yahoo.com
	  			</div>
	  		</div>	
	  	</div>	
	  	<div class=" col-lg-3  col-md-3  col-sm-3 col-xs-3">
	  		<div class="panel panel-primary">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">Centro de Instrucci&oacute;n Policial Puerto Madryn</h3>
	  			</div>
	  			<div class="panel-body">
	    			<img class="thumbnail" alt="Twitter" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" width="200px">
	    			...
				</div>
				<div class="panel-footer">		
					Direcci&oacute;n: Calle Pedro Derbes 563
					Ubicaci&oacute;n: <a href="https://www.google.com.ar/maps/place/Pedro+Derbes+235,+U9120+Puerto+Madryn,+Chubut/@-42.7574989,-65.0412309,17z/data=!4m5!3m4!1s0xbe024a8768bfd685:0x5b0897c6ccc9f29b!8m2!3d-42.756916!4d-65.0392997?hl=es" target="_blank">Centro de Instrucci&oacute;n </a>Policial PUERTO MADRYN
					TEL.: 280 4475816
					Email: <a href="mailto:centroinstruccionpolicialpm@gmail.com" target="_blank" rel="noopener noreferrer">centroinstruccion</a>policialpm@gmail.com<br>
					<br>
	  			</div>	
			</div>
		</div>
	</div>	

	<div class="row col-lg-12 col-md-12  col-sm-12 col-xs-12">
		<div class=" col-lg-6  col-md-6  col-sm-6 col-xs-6">
			<div class="panel panel-primary" >
  				<div class="panel-heading">
    				<h3 class="panel-title"><a href="https://institutosuperior811.wordpress.com/inscripciones-agentes/" class="external-link">Requisitos de Ingreso para Agentes:</a>
    				</h3>
  				</div>
  				<div class="panel-body">
    				<ul>
    					<li>Edad mínima de ingreso: 18 años.
	    				</li>
	    				<li>Estudios de Nivel Medio y/o Polimodal completo. Podr&aacute; adeudar al momento de la inscripci&oacute;n hasta dos (2) materias, teniendo como fecha l&iacute;mite para culminar los estudios el &uacute;ltimo d&iacute;a h&aacute;bil del mes de ABRIL.
	    				</li>
	    				<li>Ser argentino nativo, naturalizado o por opci&oacute;n.
	    				</li>
	    				<li>Cumplimentar satisfactoriamente todos los ex&aacute;menes que se detallan en la <a href="https://institutosuperior811.wordpress.com/inscripciones-agentes/" class="external-link">p&aacute;gina WEB</a>.</li>
	    				<li>No poseer antecedentes penales y/o policiales.
	    				</li>
	    				<li>Talla:<br>
	    				 Varones: 1,65 m., como m&iacute;nimo.<br>
	    				 Mujeres: 1,60 m., como m&iacute;nimo.
	    				</li>
					</ul>
					<br><br>
				</div>
			</div>	
		</div>	
		<div class=" col-lg-6  col-md-6  col-sm-6 col-xs-6">
			<div class="panel panel-primary">
	  			<div class="panel-heading">
	    			<h3 class="panel-title">Documentaci&oacute;n a presentar:</h3>
	  			</div>
	  			<div class="panel-body">
	    			<ul>
	    				<li>2 (dos) Fotocopias de DNI primera y segunda hoja autenticadas.
	    				</li>
	    				<li>1 (una) Fotocopia de Certificado de Nacimiento autenticada.
	    				</li>
	    				<li>1 (una) Fotocopia autenticada del Titulo de Nivel Medio o Polimodal Completo y/o Certificado Anal&iacute;ítico o Constancia de T&iacute;tulo en tr&aacute;mite donde se consigne que No Tiene Asignaturas Pendientes.
	    				</li>
	    				<li>1 (un)  Certificado de Antecedentes expedido por Polic&iacute;a de Chubut.</li>
	    				<li>1 (una) Constancia de CUIL.
	    				</li>
	    				<li>1 (un)  Certificado de Domicilio legalizado.
	    				</li>
	    				<li>1 (un)  Certificado de Antecedentes del Registro Nacional de Reincidencia, Oficina del Ministerio de Justicia de la Naci&oacute;n, sito en calle Tucum&aacute; Nº 1357 Capital Federal C/postal Nº 1050.
	    					<a href="http://www.dnrec.jus.gov.ar/solicitudcertificado/">Ver aqui:</a></li>
	    				<li>2 (dos) Fotograf&iacute;as de frente, de 3×3, con fondo celeste.</li>
	    				<li>1 (una) Fotograf&iacute;a de 5×8 de cuerpo entero, con fondo celeste.</li>
					</ul>
				</div>
			</div>		
		</div>	
	</div>	
</div>			
{% endblock contenido%}