<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'images/escudo-policiach-102x107.png' %}" type="image/x-icon">
  <meta name="description" content="">
  <title>Escuelas</title>
  <link rel="stylesheet" href="{% static 'web/assets/mobirise-icons-bold/mobirise-icons-bold.css' %}">
  <link rel="stylesheet" href="{% static 'web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" href="{% static 'tether/tether.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" href="{% static 'socicon/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'animatecss/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'dropdown/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'mobirise/css/mbr-additional.css' %}" type="text/css">
  
  <script src="{% static 'web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dropdown/js/script.min.js' %}"></script>
  
</head>
<body>
  {% include 'headerMBR.html' %}

<section class="engine"><a href="#"></a>
</section>
<section class="features11 cid-qUnO8WDCZO" id="features11-1s">
    <div class="container">   
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure" style="width: 35%;">
                    <br><br><br><br><br><br>
                    <img src="{% static 'images/Escuelauniformeviejo.jpg' %}" alt="Escuela Uniforme Antiguo" title="Escuela Uniforme Antiguo"><br>
                    <img src="{% static 'images/EscuelaSuboficiales.jpg' %}" alt="Escuela Suboficiales Antigua" title="Escuela Suboficiales Antigua"><br>
                    <img src="{% static 'images/Escuelauniforme.jpg' %}" alt="Escuela Uniforme" title="Escuela Uniforme"><br>
                    <img src="{% static 'images/Escuelas.jpg' %}" alt="Escuela Historia" title="Escuela Historia"><br>
                    <img src="{% static 'images/cadetes.jpg' %}" alt="Cadetes" title="Cadetes">
                </div>
                 
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Escuelas</h2>
                    <div class="mbr-section-text">
                        <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-7"></p>
                        <p style="text-indent:50px;text-align:justify;">La Escuela de Personal Subalterno es un instituto policial en el que recibieron capacitación más de cuatro mil jóvenes desde su fundación.
                        </p>
                        <p style="text-indent:50px;text-align:justify;">Nació por iniciativa de la Jefatura de Policía, cuyo objetivo principal fue la capacitación del Personal Subalterno que ingresa a las filas de la Institución, de manera tal que el Agente de Policía antes de prestar servicio, reciba la instrucción básica para desempeñar la función policial con conocimientos que le permitan servir a la comunidad a la pertenece.
                        </p>
                        <p style="text-indent:50px;text-align:justify;">Fue creada por Ley Provincial Nº 1271/75 de fecha 27 de Mayo de 1.975; cuyo Decreto Reglamentario Nº 1321/75 fue aprobado el 2 de Septiembre de 1.975.
                        </p>
                        <p style="text-indent:50px;text-align:justify;">Comenzó a funcionar en el edificio de la calle Pedro Martínez 257 (actual Escuela de Cadetes) de la ciudad de Rawson, hasta el mes de septiembre de 1.977, luego se trasladó al edificio de la Av. Antártida Argentina 860 de la misma ciudad.
                        </p>
                        <p style="text-indent:50px;text-align:justify;">En el año 1.992 se trasladó al edificio anexo de la Comisaría Seccional Tercera de Trelew, para luego retornar al edificio de Av. Antártida Argentina 860, donde funciona actualmente.
                        </p>
                        <p style="text-indent:50px;text-align:justify;">Desde su puesta en marcha en la ciudad de Rawson se sucedieron 98 promociones de distintas instancias de capacitación y formación, funcionando en paralelo desde el año 2003 los centros de instrucción en Comodoro Rivadavia, Puerto Madryn y Esquel.
                        </p>
                        <p style="text-indent:50px;text-align:justify;">En el año 2000, la Escuela de Personal Subalterno cerró sus puertas, pero reinició su tarea instructiva en noviembre del 2.003, a través del Centro de Instrucción Rawson y bajo el sistema implementado por Resolución Nº 426/02 JP mediante el cual se aprobó el “Curso Intensivo para Agentes de Policía” y reglamentado por Resolución Nº 756-03 JP.
                        </p>
                        <p style="text-indent:50px;text-align:justify;">A tal fin se diseñó la actual Estructura Curricular. Descentralizándose como tal con los Centros de Instrucción con asiento en Rawson, Comodoro Rivadavia, Puerto Madryn y Esquel.
                        </p> 
                        <br>
                        <p>Logrando con todo esto, que los aspirantes a Agentes de Policía de la Provincia del Chubut, tengan una formación integral, que apunte a una Preparación Intelectual, física y prácticas acorde a la función policial.
                        </p>
                        <p style="text-indent:50px;text-align:justify;">Asimismo, mediante Res.628-05 ME del 24 de Noviembre del Año 2005, la Escuela de Cadetes "Comisario Gral. Juan Gustavo Boyd" que funcionaba desde..., fue reconocida e incorporada en la categoria de Nivel Terciario, siendo modificado su nombre a Instituto Superior de Formacion Policial "Crio. Gral. Juan Gustavo Boyd" Nº 811, la cual cuenta con un Plan de Estudios aprobado mediante Resolucion Nº 295/05, que brindo a sus egresados el Titulo de "Tecnicatura Superior en Ciencias Policiales" con la jerarquia inicial de Oficial Ayudante del Escalafon Comando Seguridad. Modificandose dicho Titulo en el año 2011 mediante Res. Nº 315/11 como "Tecnicatura Superior en Seguridad Publica y Ciudadana Orientada a la Formacion Policial", siendo el actual Titulo a obtener por los egresados de dicho Instituto.
                        <br>
                        </p>
                        <strong><u>Fuentes:&nbsp;</u></strong>
                        <a href="https://escueladepersonalsubalterno.wordpress.com/historia/" class="external-link">Blog de Escuela de Policia</a>
                        <br>
                        <a href="https://institutosuperior811.files.wordpress.com/2012/02/res-628-05-me.pdf" target="_blank">Res.628-05 ME (autorización Instituto Terciario/imposición de nombre)</a><a>
                        <br>
                        </a>
                        <a href="https://institutosuperior811.files.wordpress.com/2012/02/resolucic3b3n-498-me.pdf" target="_blank">Resolución 498- ME(modificacion al Titulo actual)
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>          
</section>

<section class="features17 cid-qUnPtGh5f1" id="features17-1u">
    <div class="container-fluid">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 my-col">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{% static 'images/esccad-408x200.jpg' %}" alt="Escuela Cadetes" title="Escuela Cadetes">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Instituto Superior de Formacion Policial "Crio. Gral. Juan Gustavo Boyd" Nº 811</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            <a href="https://goo.gl/maps/o3j7qqqo11t" target="_blank">Dirección: 		Pedro Martínez 257 - Rawson &nbsp;<br>	
                                <br>TEL: 0280 4482551- 4484036 - 4481693<br></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 my-col">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{% static 'images/esccr-532x287.png' %}" alt="Escuela CR" title="Escuela CR">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Escuela de Policia Comodoro Rivadavia</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Dirección:
                           <a href="https://www.google.com.ar/maps/place/Gregorio+Mayo+370,+Comodoro+Rivadavia,+Chubut/@-45.839837,-67.4869052,16z/data=!4m5!3m4!1s0xbde455b8d00b19c5:0x2860502c3cc37682!8m2!3d-45.839837!4d-67.4825278" target="_blank">Gregorio Mayo Nº 370</a> – Bº General Mosconi. Km 3
                           <br>TEL: 0297 4550300<br>
                           Email: <a href="mailto:centroinstruccionpolicialpm@gmail.com" target="_blank" rel="noopener noreferrer">centrode</a> instruccion comodoro @policial.chubut .gov.ar
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 my-col">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{% static 'images/escesq-532x304.png' %}" alt="Escuela Esq" title="Escuela Esq">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Escuela de Policia Esquel &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Dirección: Unidad Regional, Calle Rivadavia Nro. 663, casi B. Mitre.
                            <br>Ubicación: <a href="https://www.google.com.ar/maps/place/Rivadavia+663,+Esquel,+Chubut/@-42.916737,-71.3261641,17z/data=!3m1!4b1!4m5!3m4!1s0x961dac30177fb93b:0x241763879f5bae16!8m2!3d-42.916737!4d-71.3239754" target="_blank">Centro de Instrucción Policial Esquel</a>
                            <br>Tel.: 02945 451427 – Interno 39.
                            <br>Email: <a href="mailto:centroinstruccionpolicialpm@gmail.com" target="_blank" rel="noopener noreferrer">centrodeinstruccion</a> esquel@yahoo.com</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 my-col">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{% static 'images/escpm-532x308.png' %}" alt="Escuela PM" title="Escuela PM">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Escuela de Policia Puerto Madryn</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Dirección: Calle Pedro Derbes 235
                        <br>Ubicación: 
                        <a href="https://www.google.com.ar/maps/place/Pedro+Derbes+235,+U9120+Puerto+Madryn,+Chubut/@-42.7574989,-65.0412309,17z/data=!4m5!3m4!1s0xbe024a8768bfd685:0x5b0897c6ccc9f29b!8m2!3d-42.756916!4d-65.0392997?hl=es" target="_blank">Centro de Instrucción 
                        </a>Policial PUERTO MADRYN
                        <br>TEL.: 280 4470000
                        <br>Email: <a href="mailto:centroinstruccionpolicialpm@gmail.com" target="_blank" rel="noopener noreferrer">centroinstruccion</a> policialpm @gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 my-col">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="{% static 'images/escuela-rawson-532x294.png' %}" alt="Escuela Rawson" title="Escuela Rawson">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">Escuela de Policia Rawson</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Dirección: 		Av. Antártida Arg. Nº 		860 - Rawson.
                            <br>TEL: 0280 4481624<br>
                        </p>
                    </div>
                </div>
            </div>
          </div>
    </div>
</section>

<section class="features1 cid-qUnPvq3y7e" id="features1-1v">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-users" style="font-size: 97px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Requisitos de Ingreso para Agentes</h4>
                    <p class="mbr-text mbr-fonts-style display-7"></p>
                    <li>
                        Edad mínima de ingreso: 18 años.<br>
                      </li>
                    <li>
                        Estudios de Nivel Medio y/o Polimodal completo. Podrá adeudar al momento de la inscripción hasta dos (2) materias, teniendo como fecha límite para culminar los estudios el último día hábil del mes de ABRIL.<br>	   
                    </li>
                    <li>
                        Ser argentino nativo, naturalizado o por opción.<br>	    	
                    </li>
                    <li>
                        Cumplimentar satisfactoriamente todos los exámenes que se detallan en la <a href="https://institutosuperior811.wordpress.com/inscripciones-agentes/" class="external-link">página WEB</a>.
                      </li>
                    <li>
                      No poseer antecedentes penales y/o policiales.<br>	    		
                    </li>
                    <li>
                      Talla:<br>
                      Varones: 1,65 m., como mínimo.
                      <br>Mujeres: 1,60 m., como mínimo.&nbsp;<br>
                    </li>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-pages" style="font-size: 97px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Documentación a presentar</h4>
                    <p class="mbr-text mbr-fonts-style display-7">
                    <li>
                      2 (dos) Fotocopias de DNI primera y segunda hoja autenticadas.<br>
                    </li>
                    <li>
                      1 (una) Fotocopia de Certificado de Nacimiento autenticada.<br>
                    </li>
                    <li>
                      1 (una) Fotocopia autenticada del Titulo de Nivel Medio o Polimodal Completo y/o Certificado Analíítico o Constancia de Título en trámite donde se consigne que No Tiene Asignaturas Pendientes.<br>
                    </li>
                    <li>
                      1 (un)  Certificado de Antecedentes expedido por Policía de Chubut.
                    </li>
                    <li>
                      1 (una) Constancia de CUIL.<br>
                    </li>
                    <li>
                      1 (un)  Certificado de Domicilio legalizado.<br>	    				
                    </li>
                    <li>
                      1 (un)  Certificado de Antecedentes del Registro Nacional de Reincidencia, Oficina del Ministerio de Justicia de la Nación, sito en calle Tucumá Nº 1357 Capital Federal C/postal Nº 1050.<br>
                      <a href="http://www.dnrec.jus.gov.ar/solicitudcertificado/">Ver aqui:</a>
                    </li>
                    <li>
                      2 (dos) Fotografías de frente, de 3×3, con fondo celeste.
                    </li>
                    <li>
                      1 (una) Fotografía de 5×8 de cuerpo entero, con fondo celeste.
                    </li>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-users" style="font-size: 97px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Requisitos de Ingreso para Oficiales</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Informaci&oacute;n no disponible momentaneamente.
                    </p>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-img pb-3">
                    <span class="mbr-iconfont mbri-pages" style="font-size: 97px;"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-3 mbr-fonts-style display-5">Documentación a presentar</h4>
                    <p class="mbr-text mbr-fonts-style display-7">Informaci&oacute;n no disponible momentaneamente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

	{% include 'footerMBR.html' %}



  
  <script src="{% static 'popper/popper.min.js' %}"></script>
  <script src="{% static 'tether/tether.min.js' %}"></script>
  
  <script src="{% static 'touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'viewportchecker/jquery.viewportchecker.js' %}"></script>
  <script src="{% static 'smoothscroll/smooth-scroll.js' %}"></script>
  
  <script src="{% static 'theme/js/script.js' %}"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>