{% load staticfiles %}

<section class="cid-qTDoqAYcHm" id="footer2-j">

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text"><strong>Jefatura de Policía</strong><br>
                    <br>Mitre 551-Rawson, Chubut&nbsp;<br>Codigo Postal 9103&nbsp;<br>
                    <br>
                    <br><strong>Contactos</strong>
                    <br>
                    <br>Email: jefatura@policia.chubut.gov.ar&nbsp;<br>Telefono: &nbsp;(0280) 4482494 - 4482511 - 4483878</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text">
                    <strong>Enlaces</strong>&nbsp;<br>Enlace1&nbsp;<br>Enlace 2&nbsp;<br>Enlace 3&nbsp;<br>
                    <br><strong>Informacion Util</strong>&nbsp;<br>
                    <br>Info .</p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:Ei9CYXJ0b2xvbcOpIE1pdHJlIDU5OSwgUmF3c29uLCBDaHVidXQsIEFyZ2VudGluYSIbEhkKFAoSCUtMf_QhVwG-ESmgFW7iVaHaENcE" allowfullscreen=""></iframe></div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2018 - Area Comunicaciones e Informatica</p>
                </div>
                <div class="col-md-6">
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/Policia_Chubut" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://es-la.facebook.com/prensapoliciachubut/" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="tel:+549-2804414428">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-whatsapp socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>