
{% extends 'index.html' %}	
{% load staticfiles %}
{% block contenido %}
<div class="row body"">
<!---Historia-->	
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-3">
		<h1><b><u>Historia:</u></b></h1>
		<div class="panel panel-primary">
  			<div class="panel-body">
  				<blockquote  align="justify"><p style="text-indent:50px">Cuenta la historia de la Polic&iacute;a Provincial que con la llegada de los colonos galeses a esta regi&oacute;n y la posterior fundaci&oacute;n de "Villa Rawson"; en Febrero de 1876 se instal&oacute; la primer Polic&iacute;a Patag&oacute;nica. De este modo, el primer comisario de la colonia Chubut, como se denominaba por entonces a este territorio, seg&uacute;n la designaci&oacute;n del Ejecutivo Nacional fue Don Antonio Onetto.</p>
  				<p style="text-indent:50px">Fue reci&eacute;n el 28 de Junio de 1955, cuando la fuerza pas&oacute; a la &oacute;rbita provincial con la promulgaci&oacute;n de la Ley Nº 14.408. La legislaci&oacute;n avanz&oacute; en la limitaci&oacute;n de los Territorios Nacionales de Argentina, suprimi&oacute; la Gobernaci&oacute;n Militar de Comodoro Rivadavia, convirtiendose as&iacute; Santa Cruz y Chubut en provincias.</p>
				<p style="text-indent:50px">Por entonces el Comisionado Federal, que fuera nombrado a efectos de llevar a cabo el proceso de institucionalizaci&oacute;n de la nueva Provincia, a trav&eacute;s del Decreto Provincial Nº 5 design&oacute; al Sr. Duilio Germ&aacute;n Col&aacute;ngelo en la Jefatura de Policía, fij&oacute; la misma en Rawson y dispuso que la Polic&iacute;a de la Provincia del Chubut continuara ejerciendo sus funciones ajustada a las disposiciones del Estatuto Org&aacute;nico de la Polic&iacute;a de los Territorios (Ley Nº 13.030), hasta que la Legislatura Provincial modifique aquella ley.</p>
				<p style="text-indent:50px">
				El personal Policial de la ex Gobernaci&oacute;n Militar fue distribuido entre Chubut y Santa Cruz el 1 de Octubre de 1956. As&iacute;, la Polic&iacute;a de Chubut qued&oacute; conformada por: siete Inspectores Mayores; ocho Comisarios Inspectores; diecisiete Comisarios; veintisiete Subcomisarios; treinta y tres Auxiliares; treinta y ocho Oficiales; cuarenta y dos Ayudantes; cincuenta Escribientes; trece Sargentos Primeros; veinticinco Sargentos; cuarenta y un Cabos Primeros; cincuenta y tres Cabos; cuatrocientos cincuenta y nueve Agentes; Un Oficial Mayor m&eacute;dico; tres Oficiales 4ª Armeros; nueve Oficiales 7ª Oficinistas y cinco Auxiliares 4ª Oficinistas.</p>
				<p style="text-indent:50px">
				De este modo, la Polic&iacute;a del Chubut se cre&oacute; en el año 1955, pero no se promulg&oacute; el instrumento legal propio sino hasta el 17 de octubre de 1961. Ese d&iacute;a fue sancionada la Ley Org&aacute;nica Policial Nº 356. El 3 de Noviembre fue vetada parcialmente por el Poder Ejecutivo, por lo que volvi&oacute; a la Legislatura donde el 07 de diciembre fue ratificada por Resoluci&oacute;n Nº 744 y promulgada el 15 de diciembre de ese año.
				</p>
				<p style="text-indent:50px">Ha sido tomado entonces, como D&iacute;a de creaci&oacute;n de la Polic&iacute;a del Chubut, aquel 07 de Diciembre de 1961 en que fue sancionada definitivamente la Ley Org&aacute;nica Policial Nº 356, pero en realidad naci&oacute; junto con la Provincia aquel 28 de Junio de 1955. Asimismo, La Ley Nº 356 fue derogada en octubre de l.970 por Ley 815 (Ley Org&aacute;nica de la Polic&iacute;a de la Provinciadel Chubut). Esta &uacute;ltima fue reglamentada reci&eacute;n en el año 1.977 y desde entonces se encuentra vigentes con modificaciones que a lo largo de los años se fueron introduciendo, sin que ellas afecten su contenido esencial. Actualmente esta Ley se conoce como LEY XIX - Nº 5.</p><br>
				Fuentes: <a href="https://www.elpatagonico.com/la-policia-del-chubut-celebra-58-anos-historia-n1457725" target="_blank">Diario El Patagonico<a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="https://web.archive.org/web/20130708140112/http://www.policiadelchubut.gov.ar/historia/historia.html">Archivo2013</a>
			</blockquote>
  			</div>	
 		</div>
	</div>	
</div>		 			


{% endblock contenido%}