<!DOCTYPE html>
{% load staticfiles %}
<html >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/static/images/escudo-policiach-102x107.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Historia</title>
  <link rel="stylesheet" href="/static/web/assets/mobirise-icons-bold/mobirise-icons-bold.css">
  <link rel="stylesheet" href="/static/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/static/tether/tether.min.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/socicon/css/styles.css">
  <link rel="stylesheet" href="/static/animatecss/animate.min.css">
  <link rel="stylesheet" href="/static/dropdown/css/style.css">
  <link rel="stylesheet" href="/static/theme/css/style.css">
  <link rel="stylesheet" href="/static/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="{% static 'web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'dropdown/js/script.min.js' %}"></script>
   
</head>
<body>
  {% include 'headerMBR.html' %}

<section class="engine"><a href=""></a>
</section>
<section class="features11 cid-qUnqDwXGcs" id="features11-1p">
  <div class="container">   
    <div class="col-md-12">
        <div class="media-container-row">
             <div class="mbr-figure" style="width: 35%;">
                    <br><br><br><br><br><br>
                    <img src="{% static 'images/historia.jpg' %}" alt="Escuela Historia" title="Escuela Historia"><br>
                    <img src="{% static 'images/historia2.jpg' %}" alt="Escuela Historia" title="Escuela Historia"><br>
                    <img src="{% static 'images/historia3.jpg' %}" alt="Escuela Historia" title="Escuela Historia"><br>
                    <img src="{% static 'images/historiaactual.jpg' %}" alt="Escuela Historia" title="Escuela Historia"><br>
                    <img src="{% static 'images/historiaactual2.jpg' %}" alt="Escuela Historia" title="Escuela Historia">
                </div>
            <div class=" align-left aside-content">
                <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Historia</h2>
                <div class="mbr-section-text">
                  <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-7"></p>
                  <p style="text-indent:50px;text-align:justify;">Cuenta la historia de la Policía Provincial que con la llegada de los colonos galeses a esta región y la posterior fundación de "Villa Rawson"; en Febrero de 1876 se instaló la primer Policía Patagónica. De este modo, el primer comisario de la colonia Chubut, como se denominaba por entonces a este territorio, según la designación del Ejecutivo Nacional fue Don Antonio Onetto.
                  </p>
                  <p style="text-indent:50px;text-align:justify;">Fue recién el 28 de Junio de 1955, cuando la fuerza pasó a la órbita provincial con la promulgación de la Ley Nº 14.408. La legislación avanzó en la limitación de los Territorios Nacionales de Argentina, suprimió la Gobernación Militar de Comodoro Rivadavia, convirtiendose así Santa Cruz y Chubut en provincias.
                  </p>
                  <p style="text-indent:50px;text-align:justify;">Por entonces el Comisionado Federal, que fuera nombrado a efectos de llevar a cabo el proceso de institucionalización de la nueva Provincia, a través del Decreto Provincial Nº 5 designó al Sr. Duilio Germán Colángelo en la Jefatura de Policía, fijó la misma en Rawson y dispuso que la Policía de la Provincia del Chubut continuara ejerciendo sus funciones ajustada a las disposiciones del Estatuto Orgánico de la Policía de los Territorios (Ley Nº 13.030), hasta que la Legislatura Provincial modifique aquella ley.
                  </p>
                  <p style="text-indent:50px;text-align:justify;"><span style="font-size: 1rem;">El personal Policial de la ex Gobernación Militar fue distribuido entre Chubut y Santa Cruz el 1 de Octubre de 1956. Así, la Policía de Chubut quedó conformada por: siete Inspectores Mayores; ocho Comisarios Inspectores; diecisiete Comisarios; veintisiete Subcomisarios; treinta y tres Auxiliares; treinta y ocho Oficiales; cuarenta y dos Ayudantes; cincuenta Escribientes; trece Sargentos Primeros; veinticinco Sargentos; cuarenta y un Cabos Primeros; cincuenta y tres Cabos; cuatrocientos cincuenta y nueve Agentes; Un Oficial Mayor médico; tres Oficiales 4ª Armeros; nueve Oficiales 7ª Oficinistas y cinco Auxiliares 4ª Oficinistas.</span>
                  </p>
                  <p style="text-indent:50px;text-align:justify;">De este modo, la Policía del Chubut se creó en el año 1955, pero no se promulgó el instrumento legal propio sino hasta el 17 de octubre de 1961. Ese día fue sancionada la Ley Orgánica Policial Nº 356. El 3 de Noviembre fue vetada parcialmente por el Poder Ejecutivo, por lo que volvió a la Legislatura donde el 07 de diciembre fue ratificada por Resolución Nº 744 y promulgada el 15 de diciembre de ese año.
                  <br> 
                  </p>
                  <p style="text-indent:50px;text-align:justify;">Ha sido tomado entonces, como Día de creación de la Policía del Chubut, aquel 07 de Diciembre de 1961 en que fue sancionada definitivamente la Ley Orgánica Policial Nº 356, pero en realidad nació junto con la Provincia aquel 28 de Junio de 1955. Asimismo, La Ley Nº 356 fue derogada en octubre de l.970 por Ley 815 (Ley Orgánica de la Policía de la Provinciadel Chubut). Esta última fue reglamentada recién en el año 1.977 y desde entonces se encuentra vigentes con modificaciones que a lo largo de los años se fueron introduciendo, sin que ellas afecten su contenido esencial. Actualmente esta Ley se conoce como LEY XIX - Nº 5.
                  </p>
                  Fuentes: <a href="https://www.elpatagonico.com/la-policia-del-chubut-celebra-58-anos-historia-n1457725" target="_blank">Diario El Patagonico</a><a>&nbsp;&nbsp;&nbsp;&nbsp;
                  <br></a>
                  <a href="https://web.archive.org/web/20130708140112/http://www.policiadelchubut.gov.ar/historia/historia.html">Archivo2013</a>
                </div>
            </div>    
        </div>
    </div> 
  </div>          
</section>

{% include 'footerMBR.html' %}


  
  <script src="/static/popper/popper.min.js"></script>
  <script src="/static/tether/tether.min.js"></script>
  
  <script src="/static/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/static/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/static/smoothscroll/smooth-scroll.js"></script>
  
  <script src="/static/theme/js/script.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i></i></a>
 </div>
    <input name="animation" type="hidden">
  </body>
</html>