<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <script id="www-widgetapi-script" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vfl3m9ZW-/www-widgetapi.js" type="text/javascript" async=""></script>
  <script id="YTAPI" src="{% static 'ytplayer/iframe_api.js' %}"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'images/escudo-policiach-102x107.png' %}"  type="image/x-icon">
  
  <meta name="description" content="Policia del Chubut">
  <title>Inicio</title>
  <link rel="stylesheet" type="text/css" href="{% static 'social/bootstrap-social.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'web/assets/mobirise-icons-bold/mobirise-icons-bold.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'web/assets/mobirise-icons/mobirise-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tether/tether.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dropdown/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'socicon/css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'animatecss/animate.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'theme/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'mobirise/css/mbr-additional.css' %}">
  
  <!--libs Noticias-->  
  <link rel="stylesheet" href="{% static 'fontsawesome/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'social-feed-plugin/jquery.socialfeed.css' %}">
  <link rel="stylesheet" href="{% static 'social-feed-plugin/style.css' %}">
  <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
  <link rel="stylesheet" href="{% static 'mobirise/css/mbr-additional.css' %}" type="text/css">

  <link rel="stylesheet" type="text/css" href="{% static 'visor-carousel/css/jquery.visor-carousel.css' %}">
  
  <style type="text/css">
    .visor-carousel,
    .visor-carousel .visor-wrapper,
    .visor-carousel .carousel-inner > .item,
    .visor-carousel .carousel-inner > .item > img {
      height: 250px !important;
      left:-1%;
    }
    .visor-carousel .carousel-inner > .item > img {
      position: relative;
      width: 100% !important;
      margin-left: 8%;

    }
  </style>
  
      <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">
     
    <!-- Default Theme -->
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">
          
   

   <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'web/assets/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'dropdown/js/script.min.js' %}"></script>
   <!--libreria Visor-->
   
  <script type="text/javascript" async src="{% static 'visor-carousel/js/jquery.visor-carousel.js' %}"></script>
   <!-- Include js plugin -->
    <script src="{% static 'owl-carousel/owl.carousel.js' %}"></script>
  


</head>
<body>
    {% include 'headerMBR.html' %}
  
{% block contenido%}
       {% include 'bodyMBR.html' %}
{% endblock contenido %}

{% include 'footerMBR.html' %}

  
 

 

  <script src="{% static 'popper/popper.min.js' %}"></script>
  <script src="{% static 'tether/tether.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  
  <script src="{% static 'parallax/jarallax.min.js' %}"></script>
  <script src="{% static 'mbr-switch-arrow/mbr-switch-arrow.js' %}"></script>
  <script src="{% static 'smoothscroll/smooth-scroll.js' %}"></script>
  <script src="{% static 'touchswipe/jquery.touch-swipe.min.js' %}"></script>
  <script src="{% static 'theme/js/script.js' %}"></script>
 
 
  <!--libs noticias-->  
  <script src="{% static 'masonry/masonry.pkgd.min.js' %}"></script>
  <script src="{% static 'viewportchecker/jquery.viewportchecker.js' %}"></script>
  
  <script src="{% static 'imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vimeoplayer/jquery.mb.vimeo_player.js' %}"></script>
  <script src="{% static 'sociallikes/social-likes.js' %}"></script>
  <script src="{% static 'bootstrapcarouselswipe/bootstrap-carousel-swipe.js' %}"></script>
  <script src="{% static 'social-feed-plugin/codebird.min.js' %}"></script>
  <script src="{% static 'social-feed-plugin/moment.js' %}"></script>
  <script src="{% static 'social-feed-plugin/en-gb.js' %}"></script>
  <script src="{% static 'social-feed-plugin/doT.js' %}"></script>
  <script src="{% static 'social-feed-plugin/jquery.socialfeed.js' %}"></script>
  <script src="{% static 'social-feed-plugin/main.js' %}"></script>
  <script src="{% static 'slidervideo/script.js' %}"></script>
  <script src="{% static 'gallery/player.min.js' %}"></script>
  <script src="{% static 'gallery/script.js' %}"></script>


  <script src="https://www.youtube.com/iframe_api"></script>
 
  <script src="{% static 'mbr-flip-card/mbr-flip-card.js' %}"></script>
  <script src="{% static 'ytplayer/jquery.mb.ytplayer.min.js' %}"></script>
  
  
  </body>
</html>