{% extends 'indexBackup.html' %} 

{% block description %}  
 <meta name="description" content="Policia del Chubut">
 <title>Plataformas</title>
{% endblock description %}  

{% load staticfiles %}
{% block contenido %}
<style>
.dd-content-layout .dd-content {
    margin: 0 auto;
    width: 80%;
    margin-right: 0%;
}
</style>
<section class="engine">
    <a href="#"></a>
</section>
<div class="dd-sheet clearfix">
    <div class="dd-layout-wrapper">
        <div class="dd-content-layout">
            <div class="dd-content-layout-row">
                <div class="dd-layout-cell dd-sidebar1">
                    <div class="dd-block clearfix">
                        <div class="dd-blockheader"  >
                            <h3 class="t">Plataforma Educativa</h3>
                        </div>
                        <div class="dd-blockcontent">
                          <ul class="menu">
                            <li class="item-158">
                              <a href="http://www.policia.chubut.gov.ar:9000" class="external_link">Plataforma Educativa</a>
                            </li>
                          </ul>
                        </div>
                    </div>
                    <div class="dd-block clearfix">
                        <div class="dd-blockheader">
                            <h3 class="t">Ingresos a Policía del Chubut</h3>
                        </div>
                        <div class="dd-blockcontent">
                            <ul class="menu">
                                <li class="item-159">
                                   <a href="http://institutosuperior811.wordpress.com/inscripciones-agentes/" class="external_link">Ingresos a Aspirante de Agente</a>
                                </li>
                                <li class="item-160"><a href="https://institutosuperior811.wordpress.com/" class="external_link">Ingresos a Cadete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            <div class="dd-layout-cell dd-content">
                <article class="dd-post dd-messages" style="display: none;">
                    <div class="dd-postcontent clearfix">
                      <div id="system-message-container">
                      </div>
                    </div>
                </article>
                <script type="text/javascript">
                    function currentvideo(id, title, descr) {

                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.onreadystatechange = function()
                        {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                            }
                        }
                        xmlhttp.open("GET", "index.php?option=com_hdflvplayer&task=addview&thumbid=" + id, true);
                        xmlhttp.send();
                        var wndo = new dw_scrollObj('wn', 'lyr1');
                        wndo.setUpScrollbar("dragBar", "track", "v", 1, 1);
                        wndo.setUpScrollControls('scrollbar');
                        }
                </script>
                <div class="item-page">
                  <article class="dd-post">
                      <div class="dd-postcontent clearfix">
                          <div class="dd-article">
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: center; background-color: #ffffff;">
                                <strong>Como Ingresar a la Plataforma</strong>
                              </p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">1. Debe escribir en la parte izquierda de la ventana donde dice Plataforma Educativa</p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">
                                <img height="20" width="20 !important" style="display: block; margin-left: auto; margin-right: auto; width: 50%;
                                height: 50%;" src="{% static 'img/menuPlataforma.jpg' %}" alt="Menu Plataforma"></p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">2. Allí&nbsp;se abrirá una ventana donde en la parte izquierda es para ingresar a la plataforma si ya tiene usuario y contraseña, si es la primera vez ingrese donde dice crear cuenta.</p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">
                                <img src="{% static 'img/Plataforma.jpg' %}" alt="Plataforma" width="679" height="359"></p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">
                                <span style="color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">3. Allí se abrirá una nueva ventana, donde le pedirá que ingrese su nombre de usuario y contraseña, donde&nbsp;
                                </span>
                                <span style="color: #595959; font-family: Verdana;">
                                    <span style="font-size: 14px;">La contraseña debería tener al menos 8 carácter(es), al menos 1 dígito(s), al menos 1 minúscula(s), al menos 1 mayúscula(s), al menos 1 caracter(es) no alfanuméricos como *,-, o # &nbsp;y llenar demás&nbsp;datos obligatorios.
                                    </span>
                                  </span>
                              </p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">
                                  <span style="color: #595959; font-family: Verdana;">
                                    <span style="font-size: 14px;">
                                      <img src="{% static 'img/Plataforma2.jpg' %}" alt="Plataforma 2" width="657" height="443">
                                    </span>
                                  </span>
                              </p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">4. El sistema le enviara un mail donde le pedirá que ingrese para habilitar su cuenta.</p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">
                                <img src="{% static 'img/Plataforma3.jpg' %}" alt="Plataforma 3">
                              </p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">6. Una vez loggeado, es decir que usted ya ingreso a la plataforma.</p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">7. Irá a otra ventana donde estarán todos los cursos que dicta esta escuela, los que se encuentran ordenados por jerarquía, busque el que usted esta cursando y haga un clic sobre el mismo.</p>
                              <p style="margin-top: 0px; margin-bottom: 9px; color: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; text-align: start; background-color: #ffffff;">8. Luego de esto ya estará en el aula virtual. &nbsp;
                              </p>
                          </div>
                      </div>
                  </article>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock contenido%}