
<div id="noticia-{{noticia.id}}" class="col-md-4 noticia">
			<h2>
				{{noticia.titulo}}
			</h2>
			<p>
				
				<img  src="/media/{{noticia.imagen}}">
			</p>
			<p>
				{{noticia.intro}}
			</p>
			<p>
				<a class="btn" href="{% url 'noticia' id=noticia.id %}">Leer mas»</a>
				<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{noticia.titulo}} Fuente:{{noticia.fuente}}" data-url="http://policia.chubut.gov.ar:8003/{% url 'noticia' noticia.id %}" data-via="POLICIA_CHUBUT" data-hashtags="noticia, policial, Chubut, Jefatura de Policia" data-lang="es" data-show-count="true">Tweet</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

				<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fpolicia.chubut.gov.ar%3A8003{% url 'noticia' noticia.id %}&p[title]={{noticia.titulo}}&layout=button_count&size=small&mobile_iframe=true&width=123&height=20&appId=601917176835816" width="123" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				<a rel="nofollow" data-shared="sharing-facebook-1044" class="share-facebook sd-button share-icon" href="http://policia.chubut.gov.ar:8003{% url 'noticia' noticia.id %}?share=facebook&amp;nb=1" target="_blank" title="Click to share on Facebook"><span>Facebook</span></a><td class="compartir_interior compartir_fb_interior">
					<a target='_blank'
                     	onclick="javascript:window.open('https://www.facebook.com/dialog/feed?app_id=601917176835816&amp;link=http%3A%2F%2Fpolicia.chubut.gov.ar%3A8003{% url 'noticia' noticia.id %}&amp;name={{noticia.titulo}}&amp;description={{noticia.descripcion}}&amp;display=popup&amp;picture=http%3A%2F%2Fpolicia.chubut.gov.ar%3A8003/media/{{noticia.imagen}}2F%23close_window')">
                      Compartir en facebook
               		</a>
               	</td>
				https://www.facebook.com/sharer.php?u=https%3A%2F%2Finstitutosuperior811.wordpress.com%2Finicio-2%2Farchivo-ano-2012%2Flevantamiento-de-rastros-geneticos%2F&t=Levantamiento%20de%20Rastros%20Gen%C3%A9ticos
				https://institutosuperior811.wordpress.com/inicio-2/archivo-ano-2012/levantamiento-de-rastros-geneticos/?share=facebook&nb=1
			</p>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
 	 if (d.getElementById(id)) return t;
 	 js = d.createElement(s);
  	js.id = id;
 	 js.src = "https://platform.twitter.com/widgets.js";
 	 fjs.parentNode.insertBefore(js, fjs);

 	 t._e = [];
 	 t.ready = function(f) {
 	  t._e.push(f);
  	};

  	return t;
	}(document, "script", "twitter-wjs"));
	
	</script>
</div>
		