{% extends 'indexBackup.html' %}

{% block description %}  
 <meta name="description" content="Policia del Chubut">
 <title>Sinic_Sat</title>
{% endblock description %}  
 
{% load staticfiles %}
{% block contenido %}
	<!--script type="text/javascript" src="https://policia.chubut.gov.ar/components/com_phocadownload/assets/overlib/overlib_mini.js"></script-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylesIconsDocuments.css' %}">
<section class="engine">
    <a href="#"></a>
</section>
 
<div class="dd-sheet clearfix">
    <div class="dd-layout-wrapper">
        <div class="dd-content-layout">
            <div class="dd-content-layout-row">
                
                <div class="dd-layout-cell dd-content">
                    

                    <article class="dd-post">
                        <div class="dd-postcontent clearfix">
                        <div id="phoca-dl-category-box" class="pd-category-view">
                            <div class="pd-category">
                                    <div class="pdtop" style="width: 68px;">
                                        
                                        
                                            <a title="Categorías" href="{% url 'descargas' %}" >
                                                 <b>Volver</b>&nbsp;<img src="/media/com_phocadownload/images/up.png" alt="Subir" style="width: 16px;height: 16px;"/></a>
                                        </div>
                                    <h3 class="pd-ctitle">SINIC-SAT</h3>
                                    {% for archivo in archivos %}
                                    <div class="pd-filebox">
                                        <div class="pd-filenamebox">
                                            <div class="pd-title">{{archivo.file_name}}</div>
                                            <div class="pd-filename">
                                                <div class="pd-document16" style="background: url('/media/{{archivo.file_logo}}') 0 center no-repeat;">
                                                    <div class="pd-float">
                                                        <p class="" >Tipo de Archivo</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pd-buttons">
                                            <div class="pd-button-download">
                                                <a class="btn btn-success" href="/media{{archivo.file_upload}}" >Descarga</a>
                                            </div>
                                        </div>
                                        <div class="pd-buttons">
                                                <div class="pd-button-details">
                                                    <a id="help-pop" tabindex="0" class="btn btn-white btn-xs btn-info btn-bold" role="button" data-toggle="popover" 
                                                    data-placement="left" data-trigger="hover" title="Detalles" data-content="{{archivo.file_description}}">
                                                        <span class="help-button" >Detalles</span></a>
                                                </div>
                                        </div>
                                    <div class="pd-cb"></div>
                                    </div>
                                    {% endfor %}

                                    {% if archivos.has_other_pages %}
                                    <ul class="pagination pg-blue">
                                        
                                            {% if archivos.has_previous %}
                                                
                                                <li><a class="page-link" href="?page={{ archivos.previous_page_number }}">Previa</a></li>
                                                {% else %}
                                                <li class="disabled page-link"><span>Previa</span></li>
                                            {% endif %}
                                            {% for i in archivos.paginator.page_range %}
                                                {% if archivos.number == i %}
                                                <li class="active page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                                {% else %}
                                                <li><a class="page-link" class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if archivos.has_next %}
                                                <li><a class="page-link" href="?page={{ archivos.next_page_number }}">Siguiente</a></li>
                                                
                                                {% else %}
                                                    <li class="disabled page-link"><span>Volver</span></li>
                                            {% endif %}
                                            <hr>
                                            <span class="current">
                                                    
                                                P&aacute;gina {{ archivos.number }} de {{ archivos.paginator.num_pages }}
                                                
                                            </span>
                                            <hr>
                                            
                                        
                                        
                                        </ul>
                                    {% endif %}
                                    <script>
                                            $(document).ready(function(){
                                               /*$("#help-pop").popover();*/
                                               $('[data-toggle="popover"]').popover()
                                           });   
                                       </script>

                                    <!--table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        #
                                                    </th>
                                                    <th>
                                                        Descripcion
                                                    </th>
                                                    <th>
                                                        link
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for archivo in archivos %}
                                                    <tr>
                                                        <td>{{archivo.id}}</td>
                                                        <td>{{archivo.file_description}}</td>
                                                        <td><a target="__blank" href="/media/{{archivo.file_upload}}">descargar</a></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table-->

                                    
                                    <!--form action="{% url 'sinic-sat' %}" method="post" name="adminForm">
                                        <div class="pd-cb">&nbsp;

                                        </div>
                                        <div class="pgcenter">
                                            <div class="pagination">
                                                <div class="pginline">Cantidad de ítems por página&nbsp;
                                                    <select id="limit" name="limit" class="inputbox input-mini" size="1" onchange="this.form.submit()">
                                                        <option value="5">5</option>
                                                        <option value="10">10</option>
                                                        <option value="15">15</option>
                                                        <option value="20" selected="selected">20</option>
                                                        <option value="50">50</option>
                                                        <option value="0">Todo</option>
                                                    </select>
                                        &nbsp;
                                        </div>
                                        <div style="margin:0 10px 0 10px;display:inline;" class="sectiontablefooter" id="pg-pagination" >
                                        </div>
                                    </div>
                                    </div>
                                    <input type="hidden" name="3a37158bb2db2126f730bb5eb0eff92e" value="1" />
                                    </form-->
                                </div>
                            </div>
                        </div>
                     </article>
                </div>
            </div>
        </div>
    </div>    
</div>       
{% endblock contenido%}