{% extends 'indexBackup.html' %} 
{% block description %}  
 <meta name="description" content="Policia del Chubut">
 <title>Sistemas</title>
 {% endblock description %}  
{% load staticfiles %}
{% block contenido %}
<section class="engine">
    <a href="#"></a>
</section>

<div class="dd-sheet clearfix">
    <div class="dd-layout-wrapper">
        <div class="dd-content-layout">
            <div class="dd-content-layout-row">
                <div class="dd-layout-cell dd-sidebar1">
                    <div class="dd-block clearfix">
                        <div class="dd-blockheader">
                            <h3 class="t">Sistemas</h3>
                        </div>
                        <div class="dd-blockcontent">
                            <ul class="menu">
                                <li class="item-179">
                                    <a href="http://policia.chubut.gov.ar/acei/" class="external_link">Sistemas A.C.E.I.</a>
                                </li>
                                <li class="item-180">
                                    <a href="http://policia.chubut.gov.ar/prontuario/" class="external_link">Sistemas Identificaciones</a>
                                </li>
                                <li class="item-181">
                                    <a href="http://policia.chubut.gov.ar/indice/" class="external_link">Sistemas Indice</a>
                                </li>
                                
                                    <li class="item-184">
                                        <a href="http://policia.chubut.gov.ar:8082/" class="external_link">Sistemas Recursos Humanos</a>
                                    </li>
                                    <li class="item-185">
                                        <a href="https://policia.chubut.gov.ar/cprocesales/" class="external_link">Sistemas Comunicaciones Procesales</a>
                                    </li>
                                    <!--li class="item-186">
                                        <a href="http://200.70.33.237:8084/Login.aspx" class="external_link">Sistemas Pañol Automotores</a>
                                    </li-->
                                    <li class="item-187">
                                        <a href="http://policia.chubut.gov.ar:8087/" class="external_link">Sistemas Sustraccion de Automotores</a>
                                    </li>
                                    <li class="item-188">
                                        <a href="http://policia.chubut.gov.ar:8088/Login.aspx?ReturnUrl=%2f" class="external_link">Sistemas Meteoro</a>
                                    </li>
                                    <li class="item-189">
                                        <a href="https://brigadapolicia.chubut.gov.ar/policia/" class="external_link">Sistemas Brigada</a>
                                    </li>
                                    <li class="item-196">
                                        <a href="http://policia.chubut.gov.ar:8086/login.aspx" class="external_link">Sistema Alarmas Silenciosas</a>
                                    </li>
                                    <li class="item-197">
                                        <a href="https://policia.chubut.gov.ar/ordendeldia/login.php" class="external_link">sistema orden del dia</a>
                                    </li>
                                    <li class="item-197">
                                        <a href="https://policia.chubut.gov.ar/detenidos/login.php" class="external_link">Sistema Detenidos</a>
                                    </li>
                                    <li class="item-210">
                                        <a href="http://policia.chubut.gov.ar/asignaciones/" class="external_link">Asignaciones</a>
                                    </li>
                                    <li class="item-228">
                                        <a href="http://policia.chubut.gov.ar/armamentoyequipos/" class="external_link">Armamento y Equipos</a>
                                    </li>
				    <li class="item-232">
                                        <a href="https://policia.chubut.gov.ar/estadistica/" class="external_link">Sistema Estadistica</a>
                                    </li>
				    <li class="item-232">
                                        <a href="http://policia.chubut.gov.ar/transporte/" class="external_link">Sistema de Tranporte</a>
                                    </li>

                                    <!--li class="item-231">
                                        <a href="http://policia.chubut.gov.ar:8089/" class="external_link">Proveeduría Policial</a>
                                    </li-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dd-layout-cell dd-content">
                        <article class="dd-post dd-messages" style="display: none;">
                            <div class="dd-postcontent clearfix">
                                <div id="system-message-container">
                                </div>
                            </div>
                        </article>
                        <script type="text/javascript">
                            function currentvideo(id, title, descr) {

                                var xmlhttp;
                                if (window.XMLHttpRequest) {
                                    xmlhttp = new XMLHttpRequest();
                                }
                                else {
                                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function()
                                {
                                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                    }
                                }
                                xmlhttp.open("GET", "index.php?option=com_hdflvplayer&task=addview&thumbid=" + id, true);
                                xmlhttp.send();
                                var wndo = new dw_scrollObj('wn', 'lyr1');
                                wndo.setUpScrollbar("dragBar", "track", "v", 1, 1);
                                wndo.setUpScrollControls('scrollbar');
                            }
                        </script>
                        <div class="item-page">
                            <article class="dd-post">
                                <div class="dd-postcontent clearfix">
                                    <div class="dd-article">
                                        <p>Los sistemas policiales son sujetos a controles de auditoria constante, por ello se les recuerda a los usuarios la privacidad del uso del usuario y la clave de acceso. &nbsp;Recomendaciones para poser una buena contraseña:&nbsp; Usar contraseñas alfanumericas Combinar Mayusculas y minusculas utilizar caracteres especiales, como por ejemplo @, $, &nbsp;", etc Se recomienda utilizar contraseñas que hagan referencia a algo de la vida del usuario de tal manera que la pueda recordar facilmente.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div></div>

      
{% endblock contenido %}
