{% extends 'indexBackup.html' %}   
{% load staticfiles %}
{% block contenido %}
<section class="engine">
    <a href="#"></a>
</section>

  

  

<section class="carousel slide cid-ra2TaPPZQu" data-interval="false" id="slider2-32">
    
    <div class="container content-slider">
        <div class="content-slider-wrap">
            <div>
              <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="4000">
                <ol class="carousel-indicators">
                  <li data-app-prevent-settings="" data-target="#slider2-32" class=" active" data-slide-to="0"></li>
                  <li data-app-prevent-settings="" data-target="#slider2-32" data-slide-to="1"></li>
                  <li data-app-prevent-settings="" data-target="#slider2-32" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" >
                     <div class="container container-slide">
                    <div class="image_wrapper">
                      <div class="mbr-overlay" style="opacity: 0.3;"></div>
                        <img src="{% static 'img/Foto1.png' %}">
                        
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" 
                 >
                <div class="container container-slide">
                  <div class="mbr-overlay" style="opacity: 0.3;"></div>
                        <img src="{% static 'img/Foto2.png' %}">
                        
                      </div>
                </div>
              </div>
              <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" 
             >
                <div class="container container-slide">
                  <div class="mbr-overlay" style="opacity: 0.3;"></div>
                        <img src="{% static 'img/Foto3.png' %}">
                        
                      </div>
                </div>
              </div>
            </div>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider2-32"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider2-32"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a>
          </div>
          </div> 
        </div>
    </div>
</section>

<div class="dd-sheet clearfix">
            <div class="dd-layout-wrapper">
                <div class="dd-content-layout">
                    <div class="dd-content-layout-row">
                        
                        <div class="dd-layout-cell dd-content">
<article class="dd-post dd-messages"><div class="dd-postcontent clearfix">
<div id="system-message-container">
</div></div></article><article class="dd-post"><div class="dd-postcontent clearfix"><div id="phoca-dl-category-box" class="pd-category-view"><div class="pd-category"><div class="pdtop"><a title="Categorías" href="/index.php/descargas" ><img src="/media/com_phocadownload/images/up.png" alt="Subir" /></a></div><h3 class="pd-ctitle">vivienda</h3><div class="pd-filebox"><div class="pd-filenamebox"><div class="pd-title">contrato entrega de vivienda oficial julio 2018</div><div class="pd-filename"><div class="pd-document16" style="background: url('http://policia.chubut.gov.ar/media/com_phocadownload/images/mime/16/icon-document.png') 0 center no-repeat;"><div class="pd-float"><a class="" href="/index.php/descargas/category/5-vivienda?download=17:contrato" >NUEVO CONTRATO DE LOCACION DE VIVIENDA DE SERVICIO.docx</a></div></div></div></div>
<div class="pd-buttons"><div class="pd-button-download"><a class="btn btn-success" href="/index.php/descargas/category/5-vivienda?download=17:contrato" >Descarga</a></div></div><div class="pd-buttons"><div class="pd-button-details"><a class="btn btn-info" 

onmouseover="return overlib('&lt;div style=\'text-align:left;padding:5px\'&gt;&lt;div class=\'pd-title\'&gt;contrato entrega de vivienda oficial julio 2018&lt;/div&gt;&lt;div class=\'pd-filesize-txt\'&gt;Tamaño:&lt;/div&gt;&lt;div class=\'pd-fl-m\'&gt;19.30 kB&lt;/div&gt;&lt;div class=\'pd-date-txt\'&gt;Fecha:&lt;/div&gt;&lt;div class=\'pd-fl-m\'&gt;05 Abril 2017&lt;/div&gt;&lt;/div&gt;', CAPTION, 'Detalles', BELOW, RIGHT, CSSCLASS, TEXTFONTCLASS, 'fontPhocaPDClass', FGCLASS, 'fgPhocaPDClass', BGCLASS, 'bgPhocaPDClass', CAPTIONFONTCLASS,'capfontPhocaPDClass', CLOSEFONTCLASS, 'capfontclosePhocaPDClass', STICKY, MOUSEOFF, CLOSETEXT, 'Cerrar');" onmouseout="return nd();"
 href="#">Detalles</a></div></div><div class="pd-cb"></div></div><form action="http://policia.chubut.gov.ar/index.php/descargas/category/5-vivienda" method="post" name="adminForm">
<div class="pd-cb">&nbsp;</div><div class="pgcenter"><div class="pagination"><div class="pginline">Ordering&nbsp;<select id="fileordering" name="fileordering" class="inputbox" size="1" onchange="this.form.submit()">
	<option value="1" selected="selected">&Oacute;rden Ascendente</option>
	<option value="2">&Oacute;rden Descendente</option>
	<option value="3">T&iacute;tulo Ascendente</option>
	<option value="4">T&iacute;tulo Descendente</option>
	<option value="5">Fecha Ascendente</option>
	<option value="6">Fecha Descendente</option>
	<option value="11">Filename Ascending</option>
	<option value="12">Filename Descending</option>
	<option value="15">Rating Count Ascending</option>
	<option value="16">Rating Count Descending</option>
	<option value="13">Rating Ascending</option>
	<option value="14">Rating Descending</option>
	<option value="9">Downloads Ascending</option>
	<option value="10">Downloads Descending</option>
</select>
 &nbsp;Cantidad de ítems por página&nbsp;<select id="limit" name="limit" class="inputbox input-mini" size="1" onchange="this.form.submit()">
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15">15</option>
	<option value="20" selected="selected">20</option>
	<option value="50">50</option>
	<option value="0">Todo</option>
</select>
 &nbsp;</div><div style="margin:0 10px 0 10px;display:inline;" class="sectiontablefooter" id="pg-pagination" ></div></div></div>
<input type="hidden" name="f4d952342f33cb2d471dc5c19d4467e9" value="1" /></form></div></div><div class="pd-cb">&nbsp;</div><div style="text-align:right;">Powered by <a href="http://www.phoca.cz/phocadownload" target="_blank" title="Phoca Download">Phoca Download</a></div></div></article>


                        </div>
                                            </div>
                </div>
            </div>









<div class="dd-content-layout">
    <div class="dd-content-layout-row banner">
        <div class="dd-layout-cell dd-layout-sidebar-bg">
            <div class="dd-block clearfix">
                <div class="dd-blockheader">
                <h3 class="t">Derecho de los Niños</h3>
                </div>
                <div class="dd-blockcontent">
                    <div class="bannergroup">
                        <div class="banner">      
                            <a href="http://elarca.org.ar/derechos-del-nino/" class="external_link" target="_blank"  title="Derechos del Niño">
                              <img src="{% static 'img/Derechos-del-nio-El-Arca.jpg' %}" alt="Derechos del niño" width="200" height="100">
                            </a>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dd-layout-cell dd-layout-sidebar-bg">
            <div class="dd-block clearfix">
                <div class="dd-blockheader">
                    <h3 class="t">Violencia Familiar</h3>
                </div>
                <div class="dd-blockcontent">
                    <div class="bannergroup">
                        <div class="banner">
                            <a href="http://www.jus.gob.ar/atencion-al-ciudadano/guia-de-derivaciones/violencia-familiar.aspx" target="_blank" class="external_link"  title="Violencia Familiar">
                              <img src="{% static 'img/Violencia-familiar.jpg' %}" alt="VIOLENCIA FAMILIAR" width="200" height="100">
                            </a>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dd-layout-cell dd-layout-sidebar-bg" >
          <div class="dd-block clearfix">
              <div class="dd-blockheader">
                <h3 class="t">Ni Una Menos</h3>
              </div>
              <div class="dd-blockcontent">
                  <div class="bannergroup">
                      <div class="banner">               
                          <a href="http://niunamenos.com.ar/" target="_blank" class="external_link" title="Ni Una Menos">
                            <img src="{% static 'img/images-1.jpg' %}" alt="Ni Una Menos" width="200" height="100">
                          </a>
                          <div class="clr"></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
              
<!-- begin nostyle -->


<!-- begin nostyle content -->

<div class="container" style="display: table-row;">
  <div class="Tweet bannerSocial" style="height: 500px;">
      <a class="twitter-timeline" data-width="100%" data-height="100%" href="https://twitter.com/Policia_Chubut?ref_src=twsrc%5Etfw">Tweets de Policia_Chubut</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
  </div>



  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>


  <div class="embed-container">
      <iframe  class="bannerSocial2" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprensapoliciachubut%2F&tabs=timeline&width=1000&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=601917176835816"  width="100%" height="100%" style="border:none;overflow:hidden;display: flex !important;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
    </iframe>
  </div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=601917176835816&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
</div>
<br><br>
  
{% endblock contenido%}