<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Dashboard</title>
	<meta property="og:url" content="{{publicacion.url}}" />
	<meta property="og:title" content="{{publicacion.titulo}}" />
	
	<!-- Integracion de JQuery y Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Fin Integracion -->
	<style type="text/css">
		/* Badge custom */
		.badge {
		  padding: 1px 9px 2px;
		  font-size: 12.025px;
		  font-weight: bold;
		  white-space: nowrap;
		  color: #ffffff;
		  background-color: #999999;
		  -webkit-border-radius: 9px;
		  -moz-border-radius: 9px;
		  border-radius: 9px;
		}
		.badge:hover {
		  color: #ffffff;
		  text-decoration: none;
		  cursor: pointer;
		}
		.badge-error {
		  background-color: #b94a48;
		}
		.badge-error:hover {
		  background-color: #953b39;
		}
		.badge-warning {
		  background-color: #f89406;
		}
		.badge-warning:hover {
		  background-color: #c67605;
		}
		.badge-success {
		  background-color: #468847;
		}
		.badge-success:hover {
		  background-color: #356635;
		}
		.badge-info {
		  background-color: #3a87ad;
		}
		.badge-info:hover {
		  background-color: #2d6987;
		}
		.badge-inverse {
		  background-color: #333333;
		}
		.badge-inverse:hover {
		  background-color: #1a1a1a;
		}
	</style>


</head>

<body style="background-color: #81BEF7">
	<div class="container">
		<div class="container">
			<div class="row" style="padding-top: 5%;">
				<div class="col-md-10 col-md-offset-1 well">
					<div class="row">
						<div class="col-md-12">
							<center><img src="{% static 'img/Escudo_PoliciaCh.png' %}"></center>
						</div>
						{% if messages %}
							
							{% for message in messages %}
								<div class="alert alert-success alert-dismissible" role alert>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden	="true">&times;</span></button>
									<p> <i class="glyphicon glyphicon-info-sign"></i> {{ message}}</p>	
								</div>
							{%endfor%}	
						{% endif %}	

						<h1>Tablero de Control de: {{user.username}} </h1>
						<hr style="border-top: 3px solid #81BEF7;">
						<div class="mbr-section-btn pull-right">
							

							<a href="{% url 'show_publicados' %}" class="btn-lg btn-info"> <i class="glyphicon glyphicon-eye-open"></i>Publicaciones publicadas</a>	
        					<a href="{% url 'show_archivados' %}" class="btn-lg btn-info"> <i class="glyphicon glyphicon-eye-open"></i>Publicaciones archivadas</a>	
        					<a href="{% url 'show_portada' %}" class="btn-lg btn-info"> <i class="glyphicon glyphicon-eye-open"></i>Publicaciones en Portada</a>	
            				<br><br>
        					<a href="{% url 'logout' %}" class="btn btn-default btn-lg pull-right"> <i class="glyphicon glyphicon-log-out"></i> cerrar sesion</a>
        					<a href="{% url 'new_publicacion' %}" class="btn-lg btn-success pull-right"> <i class="glyphicon glyphicon-pencil"></i>Crear Publicacion</a>	
							
        				</div>
        			</div>
					<hr style="border-top: 3px solid #81BEF7;">
					<div class="row">
						<div class="col-md-12">
							<h3>Publicaciones Anteriores</h3>
						</div>
					</div>
					<div class="row">

						<div class="col-md-12">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>#</th>
										<th>Tipo</th>
										<th>Titulo</th>
										<th>Fecha de Creacion</th>
										<th>Estado</th>
										<th>Usuario</th>
									</tr>
								</thead>
								<tbody>
									{% for publicacion in publicaciones %}
									<tr>
										<td>
											{{publicacion.id}}
										</td>
										<td>
											{% if publicacion.tipo == 1%}
												Articulo
											{% else %}
												Video
											{% endif %}
										</td>
										<td>
											{{publicacion.titulo}}
										</td>
										<td>
											{{publicacion.fecha_creacion|date:'d/m/Y'}}
										</td>
										<td>
											{% if publicacion.is_publicado %}
												<span class="badge badge-success">Publicado</span>
											{% elif publicacion.is_archivado  %}
												<span class="badge">Archivado</span>											 
											{% elif not publicacion.is_publicado and not publicacion.is_archivado %}
												  <span class="badge badge-info">Borrador</span> 											 
											{% endif %}	
											{% if publicacion.is_para_portada %}
												<span class="badge badge-success">En Portada</span>
											{% endif %}	
										</td>
										<td>
											{{publicacion.usuario}}
										</td>	
										<td>
											
											<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{publicacion.titulo}} Fuente:{{publicacion.fuente}}" data-url="http://policia.chubut.gov.ar:8003{% url 'noticia' publicacion.id %}" data-via="POLICIA_CHUBUT" data-hashtags="noticia, policial, Chubut, Jefatura de Policia" data-lang="es" data-show-count="true">Tweet</a>
											<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
											<iframe src="https://www.facebook.com/plugins/share_button.php?title={{noticia.titulo}}&href=http%3A%2F%2Flocalhost%3A8000%2Fpublicacion%2F13%2F&layout=button_count&size=small&mobile_iframe=true&width=91&height=20&appId" width="91" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
<!--<a href="http://www.facebook.com/sharer.php?s=100&p[url]=http://developando.com?s=100&p[title]=Conoce+a+Developando&p[images][0]=http://developando.com/images/developandoLogo.jpeg&p[summary]=Desarrollo+web+y+movil"></a>
<a href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u=http://policia.chubut.gov.ar:8003{% url 'noticia' publicacion.id %}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450');">Compartir popup</a>
			<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fpolicia.chubut.gov.ar%3A8003{% url 'noticia' publicacion.id %}&layout=button_count&size=small&mobile_iframe=true&width=123&height=20&appId=601917176835816&p[title]={{publicacion.titulo}}" width="123" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>-->
											&nbsp;&nbsp;<a href="{% url 'show_publicacion' id=publicacion.id %}" > <i class="glyphicon glyphicon-eye-open"></i> </a>
										</td>
										<td>
											<a href="{% url 'edit_publicacion' id=publicacion.id %}" alt="Editar Publicacion"> <i class="glyphicon glyphicon-edit" ></i> </a>
										</td>
										<td>
											<a href="{% url 'confirm_delete_publicacion' id=publicacion.id %}" alt="Eliminar Publicacion"> <i class="glyphicon glyphicon-trash"></i> </a>
										</td>
									</tr>	
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>	
		
</body>