<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Editar</title>
	<!-- Integracion de JQuery y Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Fin Integracion -->
</head>
<body style="background-color: #81BEF7">
	<div class="container">
		<div class="container">
			<div class="row" style="padding-top: 5%;">
				<div class="col-md-10 col-md-offset-1 well">
					<div class="row">
						<div class="col-md-12">
							<center><img src="{% static 'img/Escudo_PoliciaCh.png' %}"></center>
						</div>
					</div>
						<hr>
					<div class="row">
						{% if messages %}
							<div class="alert alert-succes">
								{% for message in messages %}
									{{ message}}
								{%endfor%}	
							</div>
						{% endif %}		
						<div class="col-md-12">
							<h2> Editar Autoridad</h2>
							<hr style="border-top: 3px solid #81BEF7;">
						</div>
					</div>
					<div class="row">
						<br>
						<form method="post" class="form-horizontal">{% csrf_token %}
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Nombre </label>
								<div class="col-md-10">
									{{form.nombre}}
								</div>
									{% if form.errors.nombre %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.nombre }}
            					</div>
								{% endif %}
							</div>	
							<br>
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Segundo Nombre </label>
								<div class="col-md-10">
									{{form.segundo_nombre}}
								</div>
									{% if form.errors.segundo_nombre %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                						{{ form.errors.segundo_nombre|escape }}
            					</div>
								{% endif %}
							</div>	
							<br>
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Apellido </label>
								<div class="col-md-10">
									{{form.apellido}}
								</div>
									{% if form.errors.apellido %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                						{{ form.errors.apellido|escape }}
            					</div>
								{% endif %}
							</div>	
							<br>
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Jerarquia </label>
								<div class="col-md-10">
									{{form.jerarquia}}
								</div>
							</div>
								{% if form.errors.jerarquia %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.jerarquia|escape }}
            					</div>
								{% endif %}
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Cargo </label>
								<div class="col-md-10">
									{{form.cargo}}
								</div>
							</div>
								{% if form.errors.cargo %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.cargo|escape }}
            					</div>
								{% endif %}
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Dependencia </label>
								<div class="col-md-10">
									{{form.dependencia}}
								</div>
							</div>
								{% if form.errors.dependencia %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.dependencia|escape }}
            							</div>
								{% endif %}	
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Direccion Laboral </label>
								<div class="col-md-10" >
									{{form.direccion_laboral}}
								</div>
							</div>
								{% if form.errors.direccion_laboral %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.direccion_laboral|escape }}
            							</div>
								{% endif %}
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Telefono Laboral </label>
								<div class="col-md-10" >
									{{form.telefono_laboral}}
								</div>
							</div>
								{% if form.errors.telefono_laboral %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.telefono_laboral|escape }}
            							</div>
								{% endif %}	
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Telefono </label>
								<div class="col-md-10" >
									{{form.telefono}}
								</div>
							</div>
								{% if form.errors.telefono %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.telefono|escape }}
            							</div>
								{% endif %}	
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Email </label>
								<div class="col-md-10" >
									{{form.email}}
								</div>
							</div>
								{% if form.errors.email %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.email|escape }}
            							</div>
								{% endif %}	
							<div class="form-group form-group-lg">
								<label class="col-md-2">Trayectoria</label>
								<div class="col-md-10" >
									{{form.trayectoria}}
								</div>
							</div>
								{% if form.errors.trayectoria %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.trayectoria|escape }}
            							</div>
								{% endif %}	
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Imagen </label>
								<div class="col-md-10" >
									{{form.imagen}}
								</div>
							</div>
								{% if form.errors.imagen %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.imagen|escape }}
            							</div>
								{% endif %}	


							<br>
							<hr>
							<button type="submit" class="btn btn-primary btn-lg pull-right"> <i class="glyphicon glyphicon-save"></i> Guardar </button>
							
							<a href="{% url 'show_autoridades' %}" class="btn btn-danger btn-lg pull-right"> <i class="glyphicon glyphicon-remove"></i> Cancelar </a>
							
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</body>