{% load staticfiles %}

<!-- Para Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{publicacion.titulo}}" />
<meta name="twitter:description" content="{{publicacion.descripcion}}" />
<meta name="twitter:image:src" content="Imagen de la página" />
<!-- Para Facebook y otros -->
<!-- OG -->
   
    <meta name="keywords" content="policia, Chubut, policiales, escuela de policia, noticias"/>
    <meta property="og:image" content="{% static 'img/Escudo_PoliciaCh.png' %}">
    <meta property="og:description" content="{{noticia.descripcion}}"/>
    <meta property="og:url" content="policia.chubut.gor.ar:8003"/>
    <meta property="og:title" content="Policia del Chubut"/>
    
  
<!-- Para Google+ -->
<meta itemprop="name" content="{{publicacion.titulo}}" />
<meta itemprop="description" content="Descripción de la página" />
<meta itemprop="image" content="Imagen de la página" />