<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Nuevo</title>
	<!-- Integracion de JQuery y Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Fin Integracion -->
</head>
<body style="background-color: #81BEF7">
	<div class="container">
		<div class="container">
			<div class="row" style="padding-top: 5%;">
				<div class="col-md-10 col-md-offset-1 well">
					<div class="row">
						<div class="col-md-12">
							<center><img src="{% static 'img/Escudo_PoliciaCh.png' %}"></center>
						</div>
					</div>
						<hr>
					<div class="row">
						<div class="col-md-12">
							<h2> Crear publicaci&oacute;n</h2>
						</div>
					</div>
					<div class="row">
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-success alert-dismissible" role alert>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<p> <i class="glyphicon glyphicon-info-sign"></i> {{ message}}</p>	
								</div>
							{%endfor%}	
						{% endif %}	
						<br>
						<form  method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Tipo </label>
								<div class="col-md-10">
									{{form.tipo}}
								</div>
									{% if form.errors.tipo %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.tipo }}
            					</div>
								{% endif %}
							</div>	
							<br>
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Titulo </label>
								<div class="col-md-10">
									{{form.titulo}}
								</div>
									{% if form.errors.titulo %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                						{{ form.errors.titulo|escape }}
            					</div>
								{% endif %}
							</div>	
							<br>
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Introducci&oacute;n </label>
								<div class="col-md-10">
									{{form.intro}}
								</div>
									{% if form.errors.titulo %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                						{{ form.errors.titulo|escape }}
            					</div>
								{% endif %}
							</div>	
							<br>
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Contenido </label>
								<div class="col-md-10">
									{{form.contenido}}
								</div>
							</div>
								{% if form.errors.contenido %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.contenido|escape }}
            					</div>
								{% endif %}
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Fuente </label>
								<div class="col-md-10">
									{{form.fuente}}
								</div>
							</div>
								{% if form.errors.fuente %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							{{ form.errors.fuente|escape }}
            					</div>
								{% endif %}
							<div class="form-group form-group-lg">
								<label class="col-md-2"> URL </label>
								<div class="col-md-10">
									{{form.url}}
								</div>
							</div>
								{% if form.errors.url %}
								<div class="col-md-10 col-md-offset-2 alert alert-danger">
                							La URL no es valida, verifiquela.
            							</div>
								{% endif %}	
							<div class="form-group form-group-lg">
								<label class="col-md-2"> Imagen </label>
								<div class="col-md-10">
									{{form.imagen}}
								</div>
							</div>
							<br>
							<hr>
							<button type="submit" class="btn btn-primary btn-lg pull-right"> <i class="glyphicon glyphicon-save"></i> Guardar </button>
							<a href="{% url 'dashboard' %}" class="btn btn-danger btn-lg pull-right"> <i class="glyphicon glyphicon-remove"></i> Cancelar </a>
							
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
	<script type="text/javascript">
		if ($("#id_tipo_0").is(':checked')){
			$("#id_url").parent().parent().hide();
		}
		else
			{
				$("#id_fuente").parent().parent().hide();	
			}/*$("#id_url, #id_fuente").parent().parent().hide();*/

		//$("#id_url, #id_fuente").parent().parent().hide();
		$("#id_tipo_0").change(function(){
			if($(this).is(':checked')){
				$("#id_fuente").parent().parent().show();
				$("#id_fuente").attr('required','required');
				$("#id_url").attr('value','');
				$("#id_url").parent().parent().hide();
				$("#id_url").removeAttr('required');
			}
		});
		$("#id_tipo_1").change(function(){
			if($(this).is(':checked')){
				$("#id_url").parent().parent().show();
				$("#id_url").attr('required','required');
				$("#id_fuente").attr('value','');
				$("#id_fuente").parent().parent().hide();
				$("#id_fuente").removeAttr('required');
			}
		});
	</script>
</body>