<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>Ver</title>
	{% include 'metatags.html'%}
	<!-- Integracion de JQuery y Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

 
  

	<!-- Fin Integracion -->
</head>
<body style="background-color: #81BEF7">
	<div class="container">
		<div class="container">
			<div class="row" style="padding-top: 5%;">
				<div class="col-md-10 col-md-offset-1 well">
					<div class="row">
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-success alert-dismissible" role alert>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<p> <i class="glyphicon glyphicon-info-sign"></i> {{ message}}</p>
								</div>
							{%endfor%}	
						{% endif %}	
						<div class="col-md-12">
							<center><img src="{% static 'img/Escudo_PoliciaCh.png' %}"></center>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12">
							<h2> Ver publicaci&oacute;n</h2>
							<hr style="border-top: 3px solid #81BEF7;">
						</div>
					</div>
					<div class="row">
						<br>
						<div class="col-md-12">
							<label class="col-md-2"> Tipo </label>
							<div id="tipo" class="col-md-10">
								{% if publicacion.tipo == 1%}
									Articulo
								{% else %}
									Video
								{% endif %}
							</div>
						</div>
						<br>
						<hr style="border-top: 2px solid #cccccc;">
						<div class="col-md-12">
							<label class="col-md-2"> Jurisdiccion </label>
							<div class="col-md-10">
								{% if publicacion.jurisdiccion == 1 %}
									Jefatura de Policia
								{% elif publicacion.jurisdiccion == 2 %}
									U. R. Cro. Rivadavia
								{% elif publicacion.jurisdiccion == 3 %}
									U. R. Esquel
								{% elif publicacion.jurisdiccion == 4 %}
									U. R. Pto. Madryn
								{% elif publicacion.jurisdiccion == 5 %}
									 U. R. Trelew
								{% else %}
									Provincia	 
								{% endif %}
							</div>
						</div>
						<br>
						<hr style="border-top: 2px solid #cccccc;">
						<div class="col-md-12">
							<label class="col-md-2"> Categoria </label>
							<div class="col-md-10">
								{% if publicacion.categoria == 0 %}
									Informativo
								{% elif publicacion.categoria == 1 %}
									Institucional
								{% elif publicacion.categoria == 2 %}
									Comunidad
								{% else %}
									Otro	
								{% endif %}
							</div>
						</div>
						<br>
						<hr style="border-top: 2px solid #cccccc;">
						<div class="col-md-12">
							<label class="col-md-2"> Titulo </label>
							<div class="col-md-10">
								{{publicacion.titulo}}
							</div>
						</div>
						<br>	
						<hr style="border-top: 2px solid #cccccc;">
						<div class="col-md-12">
							<label class="col-md-2"> Introduccion </label>
							<div class="col-md-10">
								{{publicacion.intro}}
							</div>
						</div>
						<br>	
						<br>
						<hr style="border-top: 2px solid #cccccc;">
						<br>
						<div class="col-md-12">
							<label class="col-md-2"> Contenido </label>
							<div class="col-md-10">
								{{publicacion.contenido|safe}}
							</div>
						</div>
						
						{% if publicacion.tipo == 2%}
						<br>
						<hr style="border-top: 2px solid #cccccc;">
						<div id="url" class="col-md-12">
							<label class="col-md-2"> URL </label>
							<div class="col-md-10">
								<a href="{{publicacion.url}}" target="_blank">{{publicacion.url}}</a>
							</div>
							<br>
						</div>
						{% else %}
						<br>
						<hr style="border-top: 1px solid #cccccc;">
						<div id="fuente" class="col-md-12">
							<label class="col-md-2"> Fuente </label>
							<div class="col-md-10">
								{{publicacion.fuente}}
							</div>
							<br>
						<br>
						</div>
						{% endif %}
						<br>
						<br>
						<hr style="border-top: 2px solid #81BEF7;">
						<div id="estado" class="col-md-12">
								<label class="col-md-2"> Estado </label>
								<div class="col-md-10"> {% if publicacion.is_publicado %}
												<span class="badge badge-success">Publicado</span>
											{% elif publicacion.is_archivado  %}
												<span class="badge">Archivado</span>											 
											{% elif not publicacion.is_publicado and not publicacion.is_archivado %}
												  <span class="badge badge-info">Guardado</span> 											 
											{% endif %}	
											{% if publicacion.is_para_portada %}
												<span class="badge badge-success">En Portada</span>
											{% endif %}	
						</div>
						<br>
						<hr style="border-top: 2px solid #81BEF7;">
	   					<!--<a class="twitter-share-button"
  							href="https://twitter.com/intent/tweet?text={{publicacion.titulo}}. %20Fuente:{{publicacion.fuente}}.%20Miralo aqui: ">
							Tweet</a>-->
						<!--<section class="cid-qUw7Ih0H2g" id="social-buttons3-1z">
  						<div class="container">
        					<div class="media-container-row">
            					<div class="col-md-8 align-center">
               					 <h2 class="pb-3 mbr-section-title mbr-fonts-style display-2">Compartir
                				</h2>
               				 <div>
                    		<div class="mbr-social-likes">
                        	<span class="btn btn-social socicon-bg-facebook facebook mx-2" title="Share link on Facebook">
                            <i class="socicon socicon-facebook"></i>
                      	 </span>
                      	  <span class="btn btn-social twitter socicon-bg-twitter mx-2" title="Share link on Twitter">
                            <i class="socicon socicon-twitter"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>	-->
							<!--<iframe src="https://www.facebook.com/plugins/share_button.php?title={{noticia.titulo}}&href=http%3A%2F%2Flocalhost%3A8000%2Fpublicacion%2F13%2F&layout=button_count&size=small&mobile_iframe=true&width=91&height=20&appId" width="91" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>-->
						{% if publicacion.is_publicado and not publicacion.is_para_portada %}
							<!--¿Desea Enviar a la portada la publicacion: {{ publicacion.id}} ?
							<a href="{% url 'enviar_publicacion' id=publicacion.id %}" class="btn btn-success btn-lg"> <i class="glyphicon glyphicon-trash"></i> Enviar a Portada </a>-->
							<a href="{% url 'archivar_publicacion' id=publicacion.id %}" class="btn btn-warning btn-lg"> <i class="glyphicon glyphicon-trash"></i> Archivar </a>
						{% elif publicacion.is_para_portada	%}

							<a href="{% url 'despublicar_publicacion' id=publicacion.id %}" class="btn btn-warning btn-lg"> <i class="glyphicon glyphicon-trash"></i> Despublicar </a>
						{% else  %}
							¿Desea Publicar la publicacion: {{ publicacion.id }} ?
							<a href="{% url 'ver_publicacion' id=publicacion.id %}" target="_blank"class="btn btn-success btn-lg"> <i class="glyphicon glyphicon-eye-open"></i> Ver en Sitio </a>
							<a href="{% url 'edit_publicacion' id=publicacion.id %}" class="btn btn-warning btn-lg"> <i class="glyphicon glyphicon-edit"></i> Editar </a>
							<a href="{% url 'publicar_publicacion' id=publicacion.id %}" class="btn btn-success btn-lg"> <i class="glyphicon glyphicon-trash"></i> Publicar </a>
	   					{% endif %}
	   					
						<a href="{% url 'dashboard' %}" class="btn btn-info btn-lg pull-right"> <i class="glyphicon glyphicon-arrow-left"></i> Volver </a>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>	
		
</body>