<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Dependencias</title>
	<!-- Integracion de JQuery y Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Fin Integracion -->
</head>
<body style="background-color: #81BEF7">
	
	<div class="container">
		<div class="row" style="padding-top: 5%;">
			<div class="col-md-10 col-md-offset-1 well">
				<div class="row">
					<div class="col-md-12">
						<center><img src="{% static 'img/Escudo_PoliciaCh.png' %}"></center>
					</div>
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-success alert-dismissible" role alert>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<p> <i class="glyphicon glyphicon-info-sign"></i> {{ message}}</p>
							</div>
						{%endfor%}	
					{% endif %}	
					
				<hr>
				<div class="row">
					<div class="col-md-12">
						<h2> Ver Dependencias</h2>
						<hr style="border-top: 3px solid #81BEF7;">
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>#</th>
									<th>Jurisdicci&oacute;n</th>
									<th>Funci&oacute;n</th>
									<th>Nombre</th>
									<th>Fecha de Carga</th>
									<th>Estado</th>
									<th>Usuario</th>
								</tr>
							</thead>
							<tbody>
								{% for dependencia in dependencias %}
								<tr>
									<td>
										{{dependencia.id}}
									</td>
									<td>
										{% if dependencia.jurisdiccion == 1 %}
												Jefatura de Policia
										{% elif dependencia.jurisdiccion == 2 %}
												U. R. Cdro. Rivadavia
										{% elif dependencia.jurisdiccion == 3 %}
												U. R. Esquel
										{% elif dependencia.jurisdiccion == 4 %}
												U. R. Pto. Madryn
										{% elif dependencia.jurisdiccion == 5 %}
												 U. R. Trelew
										{% else %}
												Provincia
										{% endif %}
									</td>
									<td>
										{% if dependencia.funcion == 1 %}
												Escuela
										{% elif dependencia.funcion == 2 %}
												Administrativa
										{% elif dependencia.funcion == 3 %}
												Otra		
										{% else %}
												Seguridad
										{% endif %}
									</td>
									<td>
										{{dependencia.nombre}}
									</td>
									<td>
										{{dependencia.fecha_creacion|date:'d/m/Y'}}
									</td>
									<td>
										{% if dependencia.is_publicado %}
											<span class="badge badge-success">Publicado</span>
										{% elif dependencia.is_archivado  %}
											<span class="badge">Archivado</span>											 
										{% elif not dependencia.is_publicado and not dependencia.is_archivado %}
											  <span class="badge badge-info">Guardado</span> 											 
										{% endif %}	
										{% if dependencia.is_para_portada %}
											<span class="badge badge-success">En Portada</span>
										{% endif %}
										
									</td>
									<td>
										{{dependencia.usuario}}
									</td>	
									<td>
										
										<a href="{% url 'show_dependencia_ver' dependencia.id %}" > <i class="glyphicon glyphicon-eye-open"></i> </a>
									
										<a href="{% url 'edit_dependencia' id=dependencia.id %}" alt="Editar Dependencia"> <i class="glyphicon glyphicon-edit" ></i> </a>
									
										<a href="{% url 'confirm_delete_dependencia' id=dependencia.id %}" alt="Eliminar Dependencia"> <i class="glyphicon glyphicon-trash"></i> </a>
									</td>
								</tr>	
								{% endfor %}
							</tbody>
							
						</table>
						<a href="{% url 'new_dependencia' %}" class="btn btn-info btn-lg"> <i class="glyphicon glyphicon-trash"></i> Nueva </a>			
									
						<a href="{% url 'dashboard' %}" class="btn btn-info btn-lg pull-right"> <i class="glyphicon glyphicon-arrow-left"></i> Volver </a>
					</div>
				</div>
			</div>	
		</div>
	</div>
	
</body>
</html>