{% extends 'indexBackup.html' %}   
{% load staticfiles %}
{% block contenido %}
<section class="engine">
    <a href="#"></a>
</section>

  

  

<section class="carousel slide cid-ra2TaPPZQu" data-interval="false" id="slider2-32">

    
    <div class="container content-slider">
        <div class="content-slider-wrap">
            <div>
              <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="4000">
                <ol class="carousel-indicators">
                  <li data-app-prevent-settings="" data-target="#slider2-32" class=" active" data-slide-to="0"></li>
                  <li data-app-prevent-settings="" data-target="#slider2-32" data-slide-to="1"></li>
                  <li data-app-prevent-settings="" data-target="#slider2-32" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url({% static 'img/Foto1.png' %});">
                     <div class="container container-slide">
                    <div class="image_wrapper">
                      <div class="mbr-overlay" style="opacity: 0.3;"></div>
                        <img src="{% static 'img/Foto1.png' %}">
                        <!--div class="carousel-caption justify-content-center">
                          <div class="col-10 align-center">
                            <p class="lead mbr-text mbr-fonts-style display-7">Elija entre la gran selección de bloques prediseñados más recientes: jumbotrons,  hero images, desplazamiento con paralaje, fondos con videos, menú de hamburguesa, encabezado fijo y más.
                            </p>
                          </div>
                        </div-->
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url({% static 'img/Foto2.png' %}">
                <div class="container container-slide">
                  <div class="image_wrapper">
                    <img src="{% static 'img/Foto2.png' %}" style="opacity: 0;">
                    <!--div class="carousel-caption justify-content-center">
                      <div class="col-10 align-center"><p class="lead mbr-text mbr-fonts-style display-7">Diapositiva con fondo de video de youtube y superposición con color. El título y el texto están alineados a la izquierda.</p></div>
                    </div-->
                  </div>
                </div>
              </div>
              <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url({% static 'img/Foto3.png' %}">
                <div class="container container-slide">
                  <div class="image_wrapper">
                    <img src="{% static 'img/Foto3.png' %}" style="opacity: 0;">
                    <!--div class="carousel-caption justify-content-center">
                      <div class="col-10 align-center"><p class="lead mbr-text mbr-fonts-style display-7">Elija entre la gran selección de bloques prediseñados más recientes: jumbotrons,  hero images, desplazamiento con paralaje, fondos con videos, menú de hamburguesa, encabezado fijo y más.</p>
                      </div>
                    </div-->
                  </div>
                </div>
              </div>
            </div>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider2-32"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider2-32"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a>
          </div>
          </div> 
        </div>
    </div>
</section>


<div class="dd-sheet clearfix">
            <div class="dd-layout-wrapper">
                <div class="dd-content-layout">
                    <div class="dd-content-layout-row">
                        <div class="dd-layout-cell dd-sidebar1">
<div class="dd-block clearfix"><div class="dd-blockheader"><h3 class="t">Correo y Chat</h3></div><div class="dd-blockcontent"><ul class="menu"><li class="item-144"><a href="https://policia.chubut.gov.ar/correo/">Webmail</a></li></ul></div></div>



                        </div>

                        <div class="dd-layout-cell dd-content">
<article class="dd-post dd-messages"><div class="dd-postcontent clearfix">
<div id="system-message-container">
</div></div></article><script type="text/javascript">
    function currentvideo(id, title, descr) {

        var xmlhttp;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        }
        else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function()
        {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            }
        }
        xmlhttp.open("GET", "index.php?option=com_hdflvplayer&task=addview&thumbid=" + id, true);
        xmlhttp.send();
        var wndo = new dw_scrollObj('wn', 'lyr1');
        wndo.setUpScrollbar("dragBar", "track", "v", 1, 1);
        wndo.setUpScrollControls('scrollbar');
    }
</script>
<div class="item-page"><article class="dd-post"><div class="dd-postcontent clearfix"><div class="dd-article"><h2 style="text-align: center;">Correo Oficial de la Policía de Chubut</h2>
<p> </p>
<h4 style="text-align: justify;">Se les recuerda a los usuarios que bajo ningún concepto, los administradores de los sistemas solicitaran el envió de información personal o de acceso a los usuarios, de recibir algún correo electrónico de estas características, se recomienda que sea ignorada la solicitud y reenviada al correo <span id="cloak07252826d51f00e206e9a4192df41b38">Esta dirección de correo electrónico está siendo protegida contra los robots de spam. Necesita tener JavaScript habilitado para poder verlo.</span><script type='text/javascript'>
        document.getElementById('cloak07252826d51f00e206e9a4192df41b38').innerHTML = '';
        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
        var path = 'hr' + 'ef' + '=';
        var addy07252826d51f00e206e9a4192df41b38 = 'p&#111;stm&#97;st&#101;r' + '&#64;';
        addy07252826d51f00e206e9a4192df41b38 = addy07252826d51f00e206e9a4192df41b38 + 'p&#111;l&#105;c&#105;&#97;' + '&#46;' + 'ch&#117;b&#117;t' + '&#46;' + 'g&#111;v' + '&#46;' + '&#97;r';
        var addy_text07252826d51f00e206e9a4192df41b38 = 'p&#111;stm&#97;st&#101;r' + '&#64;' + 'p&#111;l&#105;c&#105;&#97;' + '&#46;' + 'ch&#117;b&#117;t' + '&#46;' + 'g&#111;v' + '&#46;' + '&#97;r';document.getElementById('cloak07252826d51f00e206e9a4192df41b38').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy07252826d51f00e206e9a4192df41b38 + '\'>'+addy_text07252826d51f00e206e9a4192df41b38+'<\/a>';
    </script> para su posterior analisis.</h4>
<p> </p>
<p> </p></div></div></article></div>


                        </div>
                                            </div>
                </div>
            </div>

<div class="dd-content-layout">
    <div class="dd-content-layout-row banner">
        <div class="dd-layout-cell dd-layout-sidebar-bg" >
            <div class="dd-block clearfix">
                <div class="dd-blockheader">
                    <h3 class="t">Derecho de los Niños</h3>
                </div>
                <div class="dd-blockcontent">
                    <div class="bannergroup">
                        <div class="banneritem">      
                            <a href="http://elarca.org.ar/derechos-del-nino/" class="external_link" target="_blank"  title="Derechos del Niño">
                              <img src="{% static 'img/Derechos-del-nio-El-Arca.jpg' %}" alt="Derechos del niño" width="200" height="100">
                            </a>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dd-layout-cell dd-layout-sidebar-bg" >
            <div class="dd-block clearfix">
                <div class="dd-blockheader">
                    <h3 class="t">Violencia Familiar</h3>
                </div>
                <div class="dd-blockcontent">
                    <div class="bannergroup">
                        <div class="banneritem">
                            <a href="http://www.jus.gob.ar/atencion-al-ciudadano/guia-de-derivaciones/violencia-familiar.aspx" target="_blank" class="external_link"  title="Violencia Familiar">
                              <img src="{% static 'img/Violencia-familiar.jpg' %}" alt="VIOLENCIA FAMILIAR" width="200" height="100">
                            </a>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dd-layout-cell dd-layout-sidebar-bg" >
          <div class="dd-block clearfix">
              <div class="dd-blockheader">
                <h3 class="t">Ni Una Menos</h3>
              </div>
              <div class="dd-blockcontent">
                  <div class="bannergroup">
                      <div class="banneritem">               
                          <a href="http://niunamenos.com.ar/" target="_blank" class="external_link" title="Ni Una Menos">
                            <img src="{% static 'img/images-1.jpg' %}" alt="Ni Una Menos" width="200" height="100">
                          </a>
                          <div class="clr"></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
              
<!-- begin nostyle -->


<!-- begin nostyle content -->

<div class="container" style="display: table-row;">
    <div class="Tweet bannerSocial" style="height: 500px;">
        <a class="twitter-timeline" data-width="98%" data-height="100%" href="https://twitter.com/Policia_Chubut?ref_src=twsrc%5Etfw">Tweets de Policia_Chubut</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
    </div>

    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));</script>



     <div class="embed-container">
        <iframe  src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprensapoliciachubut%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=601917176835816"  width="340" height="500" style="border:none;overflow:hidden;display: flex !important;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media">
      </iframe>
     </div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=601917176835816&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      </script>
</div>
        <br><br>
     
    

      

  
{% endblock contenido%}