<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Nuevo</title>
	<!--incluimos el template partials enlaces de css-->
	{% include 'partials/_headerPrivate.html' %}
	<!--Tinymce Text-Editor (Must be in Head Tag) 
  	<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
  	<script type="text/javascript" src="{% static 'js/tinymce/custom.js' %}" ></script>-->
	<!-- Fin Integracion -->
</head>
<body style="background-color: #81BEF7">
	<div class="container">
		<div class="container">
			<div class="row" style="padding-top: 5%;">
				<div class="col-md-10 col-md-offset-1 well">
					<div class="row">
						<div class="col-md-12">
							<center><img src="{% static 'img/Escudo_PoliciaCh.png' %}"></center>
						</div>
					</div>
						<hr>
					<div class="row">
						<div class="col-md-12">
							<h2> Crear ejercicio</h2>
						</div>
					</div>
					<div class="row">
						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-success alert-dismissible" role alert>
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
									</button>
									<p> <i class="glyphicon glyphicon-info-sign"></i> {{ message}}</p>	
								</div>
							{%endfor%}	
						{% endif %}	
						<br>
						<form  method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
							<!--incluimos el template form ejercicio-->
                            				{% include 'partials/_formEjercicio.html' %}

							<br>
							<hr>
							<button type="submit" class="btn btn-primary btn-lg pull-right"> <i class="glyphicon glyphicon-save"></i> Subir </button>
							<a href="{% url 'dashboard' %}" class="btn btn-danger btn-lg pull-right"> <i class="glyphicon glyphicon-remove"></i> Cancelar </a>
							
						</form>
					</div>
				</div>
			</div>
		</div>			
	</div>
  </div>
</div>
<script type="text/javascript">
	if ($("#id_tipo_0").is(':checked')){
		$("#id_url").parent().parent().hide();
		$("#id_imagen").parent().parent().show();
		$("#id_intro").parent().parent().show();
	}
	else
		{
			$("#id_fuente").parent().parent().hide();	
		}/*$("#id_url, #id_fuente").parent().parent().hide();*/

	//$("#id_url, #id_fuente").parent().parent().hide();
	//si radiobutton es publicacion
	$("#id_tipo_0").change(function(){
		if($(this).is(':checked')){
			$("#id_fuente").parent().parent().show();
			$("#id_fuente").attr('required','required');
			$("#id_url").attr('value','');
			$("#id_url").parent().parent().hide();
			$("#id_url").removeAttr('required');
			$("#id_imagen").parent().parent().show();
			$("#id_intro").parent().parent().show();
		}
	});
	//si es video
	$("#id_tipo_1").change(function(){
		if($(this).is(':checked')){
			$("#id_url").parent().parent().show();
			$("#id_url").attr('required','required');
			$("#id_fuente").attr('value','');
			$("#id_fuente").parent().parent().hide();
			$("#id_fuente").removeAttr('required');
			$("#id_imagen").parent().parent().hide();
			$("#id_intro").removeAttr('required');
			$("#id_intro").attr('value','');
			$("#id_intro").parent().parent().hide();
			
		}
	});
	function previewImage(nb) {        
    var reader = new FileReader();         
    reader.readAsDataURL(document.getElementById('uploadImage'+nb).files[0]);         
    reader.onload = function (e) {             
        document.getElementById('uploadPreview'+nb).src = e.target.result;         
    };     
};
</script>
</body>