<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>Nuevo</title>
	<!-- Integracion de JQuery y Bootstrap -->
	{% include 'partials/_headCssJs.html'%}
	<!-- Fin Integracion -->
</head>
<body style="background-color: #81BEF7">
	
	<div class="container">
		<div class="row" style="padding-top: 5%;">
			<div class="col-md-10 col-md-offset-1 well">
				<div class="row">
					<div class="col-md-12">
						<center><img src="{% static 'img/Escudo_PoliciaCh.png' %}"></center>
					</div>
				</div>
					<hr>
				<div class="row">
					<div class="col-md-12">
						<h2> Crear Dependencia</h2>
					</div>
				</div>
				<div class="row">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-success alert-dismissible" role alert>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
								</button>
								<p> <i class="glyphicon glyphicon-info-sign"></i> {{ message}}</p>	
							</div>
						{%endfor%}	
					{% endif %}	
					<br>
					<form  method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
						<div class="form-group form-group-lg">
						<label class="col-md-2"> Jurisdicci&oacute;n </label>
						<div class="col-md-10">
							{{form.jurisdiccion}}
						</div>
							{% if form.errors.jurisdiccion %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.jurisdiccion }}
    					</div>
						{% endif %}
					</div>	
					<br>
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Funci&oacute;n </label>
						<div class="col-md-10">
							{{form.funcion}}
						</div>
							{% if form.errors.funcion %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        						{{ form.errors.funcion|escape }}
    					</div>
						{% endif %}
					</div>	
					<br>
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Nombre </label>
						<div class="col-md-10">
							{{form.nombre}}
						</div>
							{% if form.errors.nombre %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        						{{ form.errors.nombre|escape }}
    					</div>
						{% endif %}
					</div>
					<br>
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Direcci&oacute;n </label>
						<div class="col-md-10">
							{{form.direccion}}
						</div>
					</div>
						{% if form.errors.direccion %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.direccion|escape }}
    					</div>
						{% endif %}
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Ciudad </label>
						<div class="col-md-10">
							{{form.ciudad}}
						</div>
					</div>
						{% if form.errors.ciudad %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.ciudad|escape }}
    					</div>
						{% endif %}	
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Telefono </label>
						<div class="col-md-10">
							{{form.telefono}}
						</div>
					</div>
						{% if form.errors.telefono %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.telefono|escape }}
    					</div>
						{% endif %}
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Email </label>
						<div class="col-md-10">
							{{form.email}}
						</div>
					</div>
						{% if form.errors.email %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.email|escape }}
    							</div>
						{% endif %}	
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Jefe </label>
						<div class="col-md-10" >
							{{form.jefe}}
						</div>
					</div>
						{% if form.errors.jefe %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.jefe|escape }}
    							</div>
						{% endif %}
					<div class="form-group form-group-lg">
						<label class="col-md-2"> SubJefe </label>
						<div class="col-md-10" >
							{{form.subjefe}}
						</div>
					</div>
						{% if form.errors.subjefe %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.subjefe|escape }}
    							</div>
						{% endif %}	
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Ubicaci&oacute;n </label>
						<div class="col-md-10" >
							{{form.ubicacion}}
						</div>
					</div>
						{% if form.errors.ubicacion %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.ubicacion|escape }}
    							</div>
						{% endif %}		
					<div class="form-group form-group-lg">
						<label class="col-md-2"> Imagen </label>
						<div class="col-md-10" >
							{{form.imagen}}
						</div>
					</div>
						{% if form.errors.imagen %}
						<div class="col-md-10 col-md-offset-2 alert alert-danger">
        							{{ form.errors.imagen|escape }}
    							</div>
						{% endif %}	
					

					<br>
						<hr>
						<button type="submit" class="btn btn-primary btn-lg pull-right"> <i class="glyphicon glyphicon-save"></i> Subir </button>
						<a href="{% url 'dashboard' %}" class="btn btn-danger btn-lg pull-right"> <i class="glyphicon glyphicon-remove"></i> Cancelar </a>
						
					</form>
				</div>
				</div>
			</div>
		</div>
	</div>			
	
	
</body>