{% load staticfiles %}
<div class="dd-content-layout">
    <div class="dd-content-layout-row banner">
        <div class="dd-layout-cell dd-layout-sidebar-bg col-banner-1 ala-izquierda">
            <div class="dd-block clearfix">
                <div class="dd-blockheader">
                <h3 class="t">Derecho de los Ni&nacute;os</h3>
                </div>
                <div class="dd-blockcontent">
                    <div class="bannergroup">
                        <div class="banner">      
                            <a href="http://elarca.org.ar/derechos-del-nino/" class="external_link" target="_blank"  title="Derechos del NiÃƒÂ±o">
                              <img src="{% static 'img/Derechos-del-nio-El-Arca.jpg' %}" alt="Derechos del niÃƒÂ±o" width="200" height="100">
                            </a>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dd-layout-cell dd-layout-sidebar-bg col-banner-2 ala-derecha">
            <div class="dd-block clearfix">
                <div class="dd-blockheader">
                    <h3 class="t">Violencia Familiar</h3>
                </div>
                <div class="dd-blockcontent">
                    <div class="bannergroup">
                        <div class="banner">
                            <a href="http://www.jus.gob.ar/atencion-al-ciudadano/guia-de-derivaciones/violencia-familiar.aspx" target="_blank" class="external_link"  title="Violencia Familiar">
                              <img src="{% static 'img/Violencia-familiar.jpg' %}" alt="VIOLENCIA FAMILIAR" width="200" height="100">
                            </a>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dd-layout-cell dd-layout-sidebar-bg col-banner-3 ala-derecha" >
          <div class="dd-block clearfix">
              <div class="dd-blockheader">
                <h3 class="t">Ni Una Menos</h3>
              </div>
              <div class="dd-blockcontent">
                  <div class="bannergroup">
                      <div class="banner">               
                          <a href="http://niunamenos.com.ar/" target="_blank" class="external_link" title="Ni Una Menos">
                            <img src="{% static 'img/images-1.jpg' %}" alt="Ni Una Menos" width="200" height="100">
                          </a>
                          <div class="clr"></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>