{% load staticfiles %}
<section id="redes" class="events" style="width: 100%; margin-top: 1% !important;">
    <div id="Tweet" class="bannerSocial" style="width: 50%;">
        <a class="twitter-timeline" data-width="100%" data-height="100%" href="https://twitter.com/Policia_Chubut?ref_src=twsrc%5Etfw">Tweets de Policia_Chubut</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
    </div>
  
  
  
    <script>

window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
  
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
  
      return t;
    }(document, "script", "twitter-wjs"));
    </script>
     
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.2&appId=601917176835816&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  $(window).on('resize', function() {
      setTimeout(function(){CMSSpace.changeFBPagePlugin()}, 500);
   });
    
   $(window).on('load', function() {
      setTimeout(function(){CMSSpace.changeFBPagePlugin()}, 1500);
   });
  </script>
  
  
  <div id="face"class="columns fb-column" data-equalizer-watch>
      <div class="event-header margin-bottom-xl fb-column-header">
          <!--div class="event-header-content"><img src= "/extension/nxc_agf/design/agf-2017/images/facebook-logo.png"></div-->
          <!--div class="event-header-content"><h5 class="column-title">Facebook</h5></div-->
          <!--div class="event-header-content"><a class="button abgym-btn nomargin" href="https://www.facebook.com/AlbertaGymnastics" target="_blank">Like Us</a></div-->
      </div>
      <div class="fb-container text-center">
          <div
              class="fb-page"
              data-href="https://www.facebook.com/prensapoliciachubut"
              data-tabs="timeline"
              data-hide-cta="true"
              data-small-header="true"
              data-adapt-container-width="true"
              data-hide-cover="true"
              data-show-facepile="false"
          >
              <blockquote cite="https://www.facebook.com/prensapoliciachubut" class="fb-xfbml-parse-ignore">
                  <a href="https://www.facebook.com/prensapoliciachubut">Facebook de Policia del Chubut</a>
              </blockquote>
          </div>
      </div>
  </div>
  <script>
      CMSSpace.changeFBPagePlugin = function () {
     //getting parent box width
     var container_width = (Number($('.fb-column').width()) - Number($('.fb-column').css('padding-left').replace("px", ""))).toFixed(0);
     //getting parent box height
     var container_height = (Number($('.fb-column').height()) - (Number($('.fb-column-header').height()) + Number($('.fb-column-header').css('margin-bottom').replace("px", "")) + Number(($('.fb-column').css('padding-top').replace("px", "")*2)))).toFixed(0);
     if (!isNaN(container_width) && !isNaN(container_height)) {
        $(".fb-page").attr("data-width", container_width).attr("data-height", container_height);
     }
     if (typeof FB !== 'undefined' ) {
        FB.XFBML.parse();
     }
  }
  </script>
</section>